.div4{
    z-index: 3;
    position:fixed;
    top:2rem;
    height:0rem;
    border-bottom:1px solid #dddddd;
    width:100%;
    transition: height 0.5s;
    overflow:hidden;
    background-color: #ffffff;
}
.div4 .div41{
    position: absolute;
    top:50%;
    left:50%;
    height:3rem;
    width:30rem;
    transform: translate(-50%,-50%);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:space-between;
}
.div4 .div41>div{
    height:3rem;
    transition: all 0.5s;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    cursor: pointer;
}
.div4 .div41>div>a{
    line-height:2.75rem;
    color:#aaaaaa;
    text-decoration: none;
}
.div4 .div41>div>.div411{
    height:2px;
    width:100%;
    background-color: red;
    transition: all 0.5s;
}
.div4 .div41>div>.div412,
.div4 .div41>div>.div413,
.div4 .div41>div>.div414{
    height:2px;
    width:0;
    background-color: red;
    transition: all 0.5s;
}
.div4 .div41 div a:hover{
    color:red;
}