.home-goods-list {
  background: #f5f5f5;
  margin-top: 50px;
  padding-top: 50px;
}
.home-goods-list .home-star-goods {
  position: relative;
}
.home-goods-list .home-star-goods .box-hd {
  position: relative;
}
.home-goods-list .home-star-goods .box-hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.home-goods-list .home-star-goods .box-hd .more {
  position: absolute;
  right: 0;
  top: 0;
}
/*弹性布局*/
.home-goods-list .home-star-goods .box-hd .more{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-goods-list .home-star-goods .xm-plain-box .box-hd {
  position: relative;
  height: 58px;
  -webkit-font-smoothing: antialiased;
}
.home-goods-list .home-star-goods .xm-plain-box .box-hd .more {
  position: absolute;
  right: 0;
  top: 0;
}

.home-goods-list .home-star-goods .more-link {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .home-goods-list .home-star-goods .more-link .iconfont {
    width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    background: #b0b0b0;
    color: #fff;
    vertical-align: 1px; 
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .home-goods-list .home-star-goods .more-link:hover {
    color: #ff6700;
  }
  .home-goods-list .home-star-goods .more-link:hover .iconfont {
    background: #ff6700;
  }
  .home-goods-list .home-star-goods .xm-controls-middle .control {
    margin-left: 5px;
  }

/*图片*/
.box-bd{
    width: 100%;
    height:368px;
    /* border: 1px solid red; */
}
.home-goods-list .home-star-goods .box-bd {
  position: relative;
  width: 1226px;
}
.home-goods-list .home-star-goods ul {
  padding: 0;
  margin-bottom: 15px;
  margin-left: -14px;
  float: left;
  /*网格布局*/
  display: grid;
  grid-template-columns: repeat(5,234px);
  grid-template-rows: repeat(1,300px);
  grid-column-gap: 14px;
}
.xm-carousel-col-5-list li {
  float: left;
  width: 234px;
}
.home-goods-list .home-star-goods ul li {
  height: 300px;
  padding-top: 39px;
  text-align: center;
  list-style-type: none;
  background: #fff;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  position: relative;
  list-style: none;
  margin-bottom: 14px;
  overflow: hidden;
  margin-left: 14px;
  cursor: pointer; /*手*/
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.home-goods-list .home-star-goods ul li:hover {
  z-index: 2;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}

.home-goods-list .home-star-goods ul li img:nth-last-child(2) {
  display: inline-block;
  display: inline;
  height: 16px;
  margin-top: -16px;
  vertical-align: middle;
}
.home-goods-list .home-star-goods ul .thumb {
  display: block;
  width: 160px;
  margin: 0 auto 22px;
}
.home-goods-list .home-star-goods ul .thumb img {
  width: 160px;
  height: 160px;
}
.home-goods-list .home-star-goods ul .title {
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.home-goods-list .home-star-goods ul .title,
.home-goods-list .home-star-goods ul .title a {
  color: #212121;
}
.home-goods-list .home-star-goods ul .desc {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}
.home-goods-list .home-star-goods ul li:hover .btn {
    bottom: 0;
  }

.home-goods-list .home-star-goods ul .btn {
  width: 100%;
  border: 0;
  position: absolute;
  left: 0;
  bottom: -38px;
  -webkit-transition: bottom 0.6s;
  transition: bottom 0.6s;
}
.home-goods-list .home-star-goods ul .btn{
    background: #ff6700;
    color: #fff;
}
.btn {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 158px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #b0b0b0;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.home-goods-list .home-star-goods ul .flag {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  width: 64px;
  height: 20px;
  margin-left: -32px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

/*最后一块*/

.purchasi-process {
  background: #f5f5f5;
  text-align: center;
  padding-bottom: 105px;
}
.purchasi-process h2 {
  font-size: 35px;
  line-height: 1;
  position: relative;
  top: 25px;
  margin: 8px;
  padding: 0;
  color: #424242;
}  

.purchasi-process p {
  font-size: 14px;
  position: relative;
    top: 30px;
}
.purchasi-process .container {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 60px;
}

.purchasi-process .step {
  background: url(//c1.mifile.cn/f/i/16/qiye2016/step.jpg) 50% 0 no-repeat;
  width: 758px;
  height: 104px;
  margin: 56px auto 20px;
}

.container:after {
  clear: both;
}
.container:before, .container:after {
  content: " ";
  display: table;
}

.purchasi-process a {
  display: inline-block;
  /* display: inline; */
  margin-top: 20px;
  font-size: 20px;
  font-weight: blod;
  color: #757575;
  text-decoration: none;
}

.qiye-site-footer {
  padding: 57px 0;
}

/* .container0{
  width: 1226px;
  margin-right: auto;
  margin-left:auto ;
} */

.qiye-site-footer ul {
  margin: 0;
  padding: 0;
}

.qiye-site-footer ul li:first-child {
  border-left: 0;
}

.qiye-site-footer ul li {
  list-style: none;
  width: 25%;
  float: left;
  text-align: center;
  font-size: 16px;
  /* border-left: 1px solid #e0e0e0; */
  height: 41px;
  line-height: 41px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qiye-site-footer ul li a {
  color: #616161;
  -webkit-transition: color .2s;
  transition: color .2s;
  display: block;
  height: 41px;
  line-height: 41px;
}

.qiye-site-footer ul li a .iconfont {
    background-position: 0px 0px;
}
.qiye-site-footer ul li a .iconfont {
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -14px;
    width: 41px;
    height: 41px;
    display: inline-block;
}

.footer-links i.iconfont {
  top: -8px;
  position: relative;
}

.layout.caigou {
  background: #fff;
  height: 258px;
}


.footer_lay {
    /* text-align: center; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.site-info .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url(//s01.mifile.cn/i/logo-footer.png?v2) no-repeat 50% 50%;
}
.ir {
  display: block;
  text-align: left;
  text-indent: -9999em;
  overflow: hidden;
}

.site-info .info-text {
  padding-left: 67px;
  color: #b0b0b0;
}

