html,body{
    height:90rem;
    margin:0;
    display: flex;
    flex-flow: column nowrap;
}
*{
    margin:0;
    padding:0;
    /*background-color:#ffffff;*/
}
.header{
    background-color:#ffffff;
    height:3rem;
    text-align: center;
    position:fixed;
    width:100%;
    z-index: 1;
}
.main{
    position: absolute;
    width:100%;
    top:3rem;
    height:60rem;
    display: flex;
    flex-flow: row nowrap;
}
.main_aside{
    position: absolute;
    margin-left:15rem;
    width:25rem;
    height:100%;
    top:0;
    left:0;
    overflow: hidden;
    display: flex;
    flex-flow:column nowrap;
}
.main_aside_top{
    height:30rem;
    background:url("../img/三星.jpg") center no-repeat;
    background-size: 100% 100%;

}
.main_aside_bottom{
    display: flex;
    flex-flow: row nowrap;
    height:3rem;
    margin:4rem;

}
.main_aside_bottom .sh{
    border-right: 1px solid #000000;
    height:100%;
    width:50%; 
    background:url("../img/sh.png") no-repeat top;
}
.main_aside_bottom .th{
    height:100%;
    width:50%; 
    background:url("../img/th.png") no-repeat top;
}
.main_aside_bottom .sh p,
.main_aside_bottom .th p{
    margin-top:1.75rem;
    font-size:0.5rem;
    font-family: "黑体";
    color:#111111;
    text-align:center;
}
.main_aticle{
    padding:0rem 0 0 5rem;
    position: absolute;
    margin-right:15rem;
    left:40rem;
    right:0;
    height:100%;
    width:22rem;
    overflow: hidden;

}
.g_n{
    border:1px solid #000000;
    border-radius: 0.25rem;
    display: flex;
    flex-flow: row nowrap;
    height:3.5rem;
    justify-content: space-around;
    width:20rem;
    font-size: 1rem;

}
.g_x{
    border:1px solid #000000;
    border-radius: 0.25rem;
    display: flex;
    flex-flow: row nowrap;
    height:3.5rem;
    margin:1rem 0rem 0rem 0rem;
    justify-content: space-around;
    width:20rem;
    font-size: 1rem;
}
.main_aticle .xzwg .wg{
    margin-top:0.75rem;
    height:11rem;
    display: flex;
    flex-flow: row wrap;
    margin: 0rem 1rem 0rem 0rem;
}
.main_aticle .xzwg .wg :first-child,
.main_aticle .xzwg .wg :nth-child(2),
.main_aticle .xzwg .wg :nth-child(3){

    border:1px solid #000000;
    height:4rem;
    width:8rem;
    flex:1 1 auto;
    border-radius: 0.25rem;
    cursor: pointer;
    margin:0rem 1rem 0rem 0rem;
}
.xzwg .wg :nth-child(1),
.xzwg .wg :nth-child(2),
.xzwg .wg :nth-child(3){

    text-align: center;
    font-size: 1rem;
    line-height: 3rem;
}
.main_aticle .ccrl .rl{
    margin-top:0.75rem;
    height:11rem;
    display: flex;
    flex-flow: row wrap;
}

.main_aticle .ccrl .rl :first-child,
.main_aticle .ccrl .rl :nth-child(2),
.main_aticle .ccrl .rl :nth-child(3){

    border:1px solid #000000;
    height:4rem;
    width:8rem;
    flex:1 1 auto;
    border-radius: 0.25rem;
    cursor: pointer;/*鼠标指针变成指针*/
    margin:0rem 1rem 0rem 0rem;
}
.ccrl .rl :nth-child(1),
.ccrl .rl :nth-child(2),
.ccrl .rl :nth-child(3){
    text-align: center;
    font-size: 1rem;
    line-height: 4rem;
}
.main_aticle .buy{
    margin:1rem 0 0 0;
    border:1px solid #0051ff;
    background-image:linear-gradient(to bottom,#9eb8ff,#0051ff);
    height:2rem;
    width:95%;
    border-radius: 0.25rem;
    cursor: pointer;/*鼠标指针变成手指*/
    /*flex:1 1 auto;
    float:left;*/
}
.main_aticle .buy p{
    color:#000000;
    font-size: 1rem;
    font-family:Helvetica,Arial,sans-serif; 
    line-height:2rem;
    text-align:center;
}
h6{
    line-height: 2rem;

}
.main_aticle :first-child,
.main_aticle :nth-child(2),
.main_aticle :nth-child(3),
.main_aticle :nth-child(4),
.main_aticle :nth-child(5){

    line-height: 1.5rem;
}


.main_sticle :nth-child(5){
    font-size: 0.5remz;
}
.footer{
    position: absolute;
    top:53rem;
    height:30rem;
    width:100%;
}
.footer img{
    height:32rem;
    width:100%;
    margin:2rem 0 0 0;
}
@media screen and (min-width:600px) and (max-width:900px){
    .header,.footer{
        width:800px;
       
    }
    .main{
        width:800px;
        
    }
}
@media screen and(max-width:600px){
    .header,.footer{
        width:500px;
       

    }
    .main{
        width:300px;
    }
}
