{% extends 'base.html' %}
{% from 'macros.html' import form_field %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{% endblock %}
{% block stumain %}
    <div class="col-xs-12">
     {% block content %}
<h2 style="text-align:center;margin-top:10rem;">上传商品图片</h2>

<form method="post" enctype="multipart/form-data" style="position:absolute;left:55%;top:50%;transform:translate(-50%,13rem)">
    {{ form.csrf_token }}
    {{ form_field(form.photo) }}
    {{ form.submit(class='btn btn-primary') }}
</form>
         {% endblock %}
    </div>
{% endblock %}
