<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="refresh" content="3;{{ url_for("addUser") }}">
  <title>Waves</title>
  <link rel="stylesheet" href="/static/css/wave.css">
</head>
<body>
  <div class="sea">
    <p class="title">您输入的用户已存在,<br>请重新输入!</p>
    <span class="wave"></span>
    <span class="wave"></span>
    <span class="wave"></span>
  </div>
</body>
</html>