<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUAWEI WATCH</title>
    <link href="../static/css/watch.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/container.css" />
</head>
<body>
    <div class="container">
        <header>
            <div class="topbar">
                <div class="layout">
                    <div class="lay-left">
                        <ul>
                            <li>
                                <a href="./商品前端1.html" target="_blank">商城首页</a>
                            </li>
                            <li><a href="
                                https://www.huawei.com/cn/?ic_medium=direct&ic_source=surlent" target="#">
                                华为官网</a>
                            </li>
                            <li><a>企业团购</a></li>
                            <li><a>资质证照</a></li>
                            <li><a>协议规则</a></li>
                        </ul>
                    </div>
                    <div class="lay-right">
                        <ul>
                            <li class="d">登录</li>
                            <li class="d">注册</li>
                            <a>
                                <div class="cart">
                                    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                                    <i class="iconfont">&#xe601;</i>&nbsp;购物车&nbsp;(0)
                                    <div class="cart-menu">
                                        <div class="cart-content">
                                            <div id="loader_a" class="loader">
                                            </div>
                                            <div id="loader_b" class="cartHide">
                                                    购物车中还没有商品，赶紧选购吧！
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
   
        <div class="left">
            <div id="pics">
                <img src="../static/img/手表%20(1).jpg" width="100%" height="100%" id="lunbo">
            </div>
            <div class="left-bottom">
                <div class="one">
                    <p><a href="#canshu">产品参数</a> </p>
                </div>
                <div class="two">
                    <p><a href="#xiangqing"> 产品详情</a></p>
                </div>
            </div>
        </div>
   
    <div class="div2">
        <div class="right">
            <p>新款</p>
            <h2>购买HUAWEI WATCH GT2 Pro 保时捷设计款智能手表</h2>
            <p> 全钛金属设计 蓝宝石表面 陶瓷背壳 蓝牙通话 专业户外运动</p>
            <div class="right-top">
                <h4>选择颜色</h4>
                <div  class="color" id="color">
                    <div class="color1">钛金灰</div>
                </div>
                <div class="select">
                    <h3>选择款式</h3>
                    <!-- <a>哪款适合你?</a> -->
                    <div class="watch" id="watch">
                        <div class="watch-left">
                            <p>HUAWEI WATCH GT2 Pro</p>
                        </div>
                        <div class="watch-right">
                            <p>RMB 9999</p>
                        </div>
                    </div>
                </div>
                <div class="buy" id="buy">
                    <p>购 买</p>
                </div>
                <!-- <table style="visibility: hidden;">
                    <tr>
                        <th>商品</th>
                        <th>颜色</th>
                        <th>价格</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>HUAWEI WATCH GT2 Pro</td>
                        <td>钛金灰</td>
                        <td>9999</td>
                        <td align="center">	
                        </td>
                    </tr>
                </table>	 -->
                <input class="but" type="image" src="../static/img/购物车.jpg"
                value="加入购物车" onclick="add_shoppingcar(this)"/>
            </div>
        </div>
    </div>
    <div class="div3">
        <div class="canshu" id="canshu">
            <p>规格参数</p>
        </div>
        <div class="cs">
                <ul>
                    <li>品牌 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
                        华为 HUAWEI</li>
                    <li>型号  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
                        HUAWEI WATCH GT2 保时捷设计款</li>
                    <li>上市时间  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                         &nbsp; &nbsp;&nbsp;
                        2020年11月</li>
                    <li>材质 &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
                        钛金属表体+蓝宝石玻璃表镜</li>
                    <li>CPU  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
                        麒麟A1</li>
                    <li>屏幕尺寸  &nbsp;&nbsp;&nbsp; 
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        1.39英寸</li>
                    <li>电池容量 &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        455 mAh</li>
                </ul>
        </div>
    </div>
    <div class="div4">
        <div class="xiangqing" id="xiangqing">
            <p>商品详情</p>
        </div>
        <div class="mp4">
            <embed src="../static/img/手表.mp4" >
        </div>
        <div class="xq1">
          <img src="../static/img/watch1.jpg" width="100%">
          <img src="../static/img/watch2.jpg" width="100%">
          <img src="../static/img/watch3.jpg" width="100%">
          <img src="../static/img/watch5.jpg" width="100%">
          <img src="../static/img/watch4.jpg" width="100%">
          <img src="../static/img/watch6.jpg" width="100%">
        </div>
    </div>
    <div class="div5" id="pay">
        <div class="pay">   
            <div class="shut_down" id="shut_down"></div>
            <div class="information">
                <div class="address">
                    <form action="">
                        <fieldset>
                        <legend>收货地址:</legend>
                         <p>姓名:</p><span class="required">*</span>
                        <input type="text" name="firstname" value="李华">
                        <br>
                         <p>联系电话:</p><span class="required">*</span>
                        <input type="text" name="phone" value="18312345678">
                        <br>
                         <p>详细地址:</p><span class="required">*</span>
                        <input type="text" name="address" value="河南省新乡市牧野区东干道街道河南师范大学">
                        <br>
                         <p>邮政编码:</p><span class="required">*</span>
                        <input type="text" name="number" value="000000">
                        <br>
                        </fieldset>
                    </form>
    
                </div>
                <div class="commodity">
                    <div class="logo">
                        <div class="logo0"></div>
                        <div class="logo1">订单信息</div>
                    </div>
                    <div class="comm">
                        <div class="comm_img">
                            <img src="../static/img/手表%20(1).jpg">
                        </div>
                        <div class="comm_text">
                            <p>商品名称：HUAWEI WATCH GT2 Pro
                            </p>
                            <p>款式选择：
                                <select>
                                    <option >保时捷设计款</option>
                                </select>
                            </p>
                            <p>颜色选择：
                                <select>
                                    <option>钛金灰</option>
                                </select>
                            </p>
                            <p>数量：
                                <span onclick="numDec()">-</span> 
                                <input type="text" id="quantity" value="1"/> 
                                <span onclick="numAdd()">+</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tijiao">
                    <div class="buy_money">
                        <p>合计:￥
                            <span id="totalPrice">9999</span>
                            <input type="hidden" value="9999" id="price" />
                        </p>
                    </div>
                    <div class="buy_com">提交订单</div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
{#<script type="text/javascript" src="javascript/购买4.js"></script>#}
<script>
    window.onload=function(){
    var color=document.getElementById("color");
    var watch=document.getElementById("watch");

    color.onclick=ocolor;
    watch.onclick=owatch;

    function ocolor(){
        color.style.boxShadow="0 1px 1px 1px #960000";
        // watch.style.boxShadow="0 0 2px 2px #ffffff";
    }
    function owatch(){
        watch.style.boxShadow="0 1px 1px 1px #960000";
        // color.style.boxShadow="0 0 2px 2px #ffffff";
    }
}
</script>
{#<script type="text/javascript" src="javascript/手表.js"></script>#}
<script>
    var lb = document.getElementById("lunbo")
var num=1;


// 自动换图
setInterval(function(){
    num++;
    if(num == 5){
        num = 1;
    }
    lb.src="../static/img/手表 ("+num+").jpg"
    // console.log(num)
},3000)

</script>
{#<script type="text/javascript" src="javascript/购买3.js"></script>#}
<script>
    var shut_down=document.getElementById("shut_down");
var pay=document.getElementById("pay");
var buy=document.getElementById("buy");

shut_down.onclick=function shut(){
    pay.style.display="none";
}

buy.onclick=function open(){
    pay.style.display="block";
}

</script>
{#<script type="text/javascript" src="javascript/数量.js"></script>#}
<script>

function numAdd(){
    var quantity = document.getElementById("quantity").value;
    var num_add = parseInt(quantity)+1;
    var price=document.getElementById("price").value;
    if(quantity==""){
        num_add = 1;
    }
    if(num_add>2){
        document.getElementById("quantity").value=num_add-1;
        alert("此商品限购2件");
    }else{
        document.getElementById("quantity").value=num_add;
        var Num=price*num_add;
        document.getElementById("totalPrice").innerHTML=Num.toFixed(2);
    }
}
/*商品数量-1*/
function numDec(){
    var quantity = document.getElementById("quantity").value;
    var price=document.getElementById("price").value;
    var num_dec = parseInt(quantity)-1;
    // if(num_dec<1){
    //     document.getElementById("quantity").value=num_add+1;
    //     alert("请至少选择一件商品！");
    // }
    if(num_dec>0){
        document.getElementById("quantity").value=num_dec;
        var Num=price*num_dec;
         document.getElementById("totalPrice").innerHTML=Num.toFixed(2);
    }
}



</script>
<!-- <script type="text/javascript" src="javascript/购物车.js"></script> -->
