<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/用户信息.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="div0">
        <div id="div00">
            <p>UNBUG</p>
        </div>
        <div id="div01">
            <ul>
                <li><a href="#">XXX</a></li>
                <li><a href="#">XXX</a></li>
                <li><a href="#">XXX</a></li>
                <li><a href="#">XXX</a></li>
                <li><a href="#">XXX</a></li>
            </ul>
        </div>
        <div id="div02" title="菜单">
        </div>
    </div>
    <div id="div1">
        <ul>
            <li><img src="./img/3.png"><a href="#">XXX</a></li>
            <li><img src="./img/3.png"><a href="#">XXX</a></li>
            <li><img src="./img/3.png"><a href="#">XXX</a></li>
            <li><img src="./img/3.png"><a href="#">XXX</a></li>
            <li><img src="./img/3.png"><a href="#">XXX</a></li>
        </ul>
    </div>
    <div id="div2"></div>
    <div id="div3">
        <div id="div30">
            <div id="div300">
                <div id="div3000">
                    <p>购物车</p>
                    <p>管理</p>
                </div>
                <p>共5件宝贝</p>
            </div>
            <div id="div301">
                <div id="div3010">
                    <p>全部商品</p>
                    <div id="qbsp"></div>
                </div>
                <div id="div3011">
                    <p>降价商品</p>
                    <div id="jjsp"></div>
                </div>
                <div id="div3012">
                    <p>库存紧张</p>
                    <div id="kcjz"></div>
                </div>
            </div>
            <div id="div302">
                <div id="div3020">
                    <img src="./img/wu.png">
                    <p>店铺：UNBUG商城旗舰店</p>
                </div>
                <div id="div3021">
                    <input type="checkbox">
                    <div id="div30210"></div>
                    <div id="div30211">
                        <div>
                            <p>Sony/索尼无线蓝牙耳机WH-1000XM3头戴式挂脖式主动降噪耳麦</p>
                        </div>
                        <div>
                            <p>套餐类型：官方标配</p>
                            <p>颜色分类：金色</p>
                        </div>
                        <div>
                            <p>￥123.00</p>
                        </div>
                        <div>
                            <div id="jian1">-</div>
                            <input type="text" value="1" id="jiajian1">
                            <div id="jia1">+</div>
                            <span id="span1"></span>
                        </div>
                        <div>
                            <a href="#">删除</a>
                        </div>
                    </div>
                </div>
                <div id="div3022">
                    <img src="./img/wu.png">
                    <p>店铺：UNBUG商城旗舰店</p>
                </div>
                <div id="div3023">
                    <input type="checkbox">
                    <div id="div30230"></div>
                    <div id="div30231">
                        <div>
                            <p>Sony/索尼无线蓝牙耳机WH-1000XM3头戴式挂脖式主动降噪耳麦</p>
                        </div>
                        <div>
                            <p>套餐类型：官方标配</p>
                            <p>颜色分类：金色</p>
                        </div>
                        <div>
                            <p>￥123.00</p>
                        </div>
                        <div>
                            <div id="jian2">-</div>
                            <input type="text" value="1" id="jiajian2">
                            <div id="jia2">+</div>
                            <span id="span2"></span>
                        </div>
                        <div>
                            <a href="#">删除</a>
                        </div>
                    </div>
                </div>
                <div id="div3024">
                    <img src="./img/wu.png">
                    <p>店铺：UNBUG商城旗舰店</p>
                </div>
                <div id="div3025">
                    <input type="checkbox">
                    <div id="div30250"></div>
                    <div id="div30251">
                        <div>
                            <p>Sony/索尼无线蓝牙耳机WH-1000XM3头戴式挂脖式主动降噪耳麦</p>
                        </div>
                        <div>
                            <p>套餐类型：官方标配</p>
                            <p>颜色分类：金色</p>
                        </div>
                        <div>
                            <p>￥123.00</p>
                        </div>
                        <div>
                            <div id="jian3">-</div>
                            <input type="text" value="1" id="jiajian3">
                            <div id="jia3">+</div>
                            <span id="span3"></span>
                        </div>
                        <div>
                            <a href="#">删除</a>
                        </div>
                    </div>
                </div>
                <div id="div3026">
                    <img src="./img/wu.png">
                    <p>店铺：UNBUG商城旗舰店</p>
                </div>
                <div id="div3027">
                    <input type="checkbox">
                    <div id="div30270"></div>
                    <div id="div30271">
                        <div>
                            <p>Sony/索尼无线蓝牙耳机WH-1000XM3头戴式挂脖式主动降噪耳麦</p>
                        </div>
                        <div>
                            <p>套餐类型：官方标配</p>
                            <p>颜色分类：金色</p>
                        </div>
                        <div>
                            <p>￥123.00</p>
                        </div>
                        <div>
                            <div id="jian4">-</div>
                            <input type="text" value="1" id="jiajian4">
                            <div id="jia4">+</div>
                            <span id="span4"></span>
                        </div>
                        <div>
                            <a href="#">删除</a>
                        </div>
                    </div>
                </div>
                <div id="div3028">
                    <img src="./img/wu.png">
                    <p>店铺：UNBUG商城旗舰店</p>
                </div>
                <div id="div3029">
                    <input type="checkbox">
                    <div id="div30290"></div>
                    <div id="div30291">
                        <div>
                            <p>Sony/索尼无线蓝牙耳机WH-1000XM3头戴式挂脖式主动降噪耳麦</p>
                        </div>
                        <div>
                            <p>套餐类型：官方标配</p>
                            <p>颜色分类：金色</p>
                        </div>
                        <div>
                            <p>￥123.00</p>
                        </div>
                        <div>
                            <div id="jian5">-</div>
                            <input type="text" value="1" id="jiajian5">
                            <div id="jia5">+</div>
                            <span id="span5"></span>
                        </div>
                        <div>
                            <a href="#">删除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div4"></div>
</body>
</html>
<script type="text/javascript" src="用户信息.js"></script>