<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/购买曹思琦.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header"></div>
    <div class="div1">
        <div class="left">
            <div class="left-top"></div>
            <div class="left-bottom">
                <div class="one">
                    <p>免费送货</p>
                </div>
                <div class="two">
                    <p>退货服务</p>
                </div>
            </div>
        </div>
    </div>
    <div class="div2">
        <div class="right">
            <p>新款</p>
            <h2>购买HUAWEI WATCH GT2 Pro 保时捷设计款智能手表</h2>
            <p>全钛金属设计 蓝宝石表面 陶瓷背壳 蓝牙通话 专业户外运动</p>
            <div class="right-top">
                <h4>选择颜色</h4>
                <div  class="color" >
                    <div class="color1">钛金灰</div>
                </div>
                <div class="select">
                    <h3>选择款式</h3>
                    <div class="watch">
                        <div class="watch-left">
                            <p>HUAWEI WATCH GT2 Pro</p>
                        </div>
                        <div class="watch-right">
                            <p>RMB 9999</p>
                        </div>
                    </div>
                </div>
                <div class="mai" id="mai">
                    <p>购 买</p>
                </div>
            </div>
        </div>
    </div>
    <div class="div3">
        <div class="canshu">
            <p>规格参数</p>
        </div>
        <div class="cs1">
            <p>品牌 </p>
            <p>型号 </p>
            <p>上市时间 </p>
            <p>材质 </p>
            <p>CPU  </p>
            <p>屏幕尺寸 </p>
            <p>电池容量 </p>
        </div>
        <div class="cs2">
            <p>华为 HUAWEI</p>
            <p>HUAWEI WATCH GT2 保时捷设计款</p>
            <p>2020年11月</p>
            <p>钛金属表体+蓝宝石玻璃表镜</p>
            <p>麒麟A1</p>
            <p>1.39英寸</p>
            <p>455 mAh</p>
        </div>
    </div>
    <div class="div4">
        <div class="xiangqing">
            <p>商品详情</p>
        </div>
        <div class="xq1">
          <img src="../static/img/watch1.jpg" width="100%">
          <img src="../static/img/watch2.jpg" width="100%">
          <img src="../static/img/watch3.jpg" width="100%">
          <img src="../static/img/watch5.jpg" width="100%">
          <img src="../static/img/watch4.jpg" width="100%">
          <img src="../static/img/watch6.jpg" width="100%">
        </div>
    </div>
</body>
</html>