<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/1buy1.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1buy2.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1buy3.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1buy4.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1buy5.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1buy6.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1buy7.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1buy8.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1buy9.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1buy10.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1buy11.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1index.css" rel="stylesheet" type="text/css">
    <link href="../static/css/1csq备案号.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="div1" id="div1">
        <div class="div11">UNBUG</div>
        <div class="div12">
            <ul>
                <li><a href="#">登录</a></li>
                <li><a href="#">我的订单</a></li>
                <li>
                    <a href="#">客户服务<img src="../static/images/1.png"></a>
                    <div class="div121">
                        <a href="#">服务中心</a>
                        <a href="#">联系客服</a>
                    </div>
                </li>
                <li><a href="#">网站导航<img src="../static/images/1.png"></a></li>
                <li><a href="#">手机版<img src="../static/images/1.png"></a></li>
                <li><a href="#">购物车<img src="../static/images/1.png"></a></li>
            </ul>
        </div>
    </div>
    <div class="div3">
        <div class="div31">
            <p><a href="#">首页</a>><a href="#">智慧屏</a>><a href="#">荣耀智慧屏</a>><a href="#">【好产品 高标准】荣耀智慧屏PRO 4G内存版 55英寸4K超清全面屏 鸿蒙系统 鸿鹄818芯片 升降摄像头 开机无广告</a></p>
        </div>
        <div class="div32">
            <div class="div321">
                <img src="../static/images/11.jpg" id="img1">
                <div class="div3211">
                    <div class="div32111">
                        <img src="../static/images/10.png" id="img10">
                    </div>
                    <div class="div32112">
                        <img src="../static/images/11.jpg" name="img2" id="img2">
                        <img src="../static/images/22.jpg" name="img2" id="img3">
                        <img src="../static/images/33.jpg" name="img2" id="img4">
                        <img src="../static/images/55.jpg" name="img2" id="img5">
                        <img src="../static/images/66.jpg" name="img2" id="img6">
                    </div>
                    <div class="div32113">
                        <img src="../static/images/11.png" id="img11">
                    </div>
                </div>
            </div>
            <div class="div322">
                <p>【好产品 高标准】荣耀智慧屏PRO 4G内存版 55英寸4K超清全面屏 鸿蒙系统 鸿鹄818芯片 升降摄像头 开机无广告</p>
                <P>搭载华为鸿蒙系统，鸿鹄818智慧芯片，94%屏占比全面屏，魔法画质引擎，6喇叭越级音质，亲情视频通话，魔法闪投，联控智能家居！</P>
                <div class="div3221">
                    <div class="div32211">
                        <p>价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格</p>
                        <span>￥4499.00</span>
                        <p>定金</p>
                        <span>￥50.00</span>   
                        <p>可抵</p>
                        <span>￥100.00</span>   
                    </div>
                    <div class="div32212">
                        <p>促&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销</p>
                        <p>购买即赠商城积分，积分可抵现~</p>
                    </div>
                </div>
                <div class="div3222">
                    <p>服务说明</p>
                    <div class="div32221">
                        <div class="div322211">
                            <p>预计付款后5天内发货</p>
                            <img src="../static/images/19.png">
                        </div>
                        <div class="div322212">
                            <img src="../static/images/20.png">
                            <p>由华为商城负责发货，并提供售后服务</p>
                        </div>
                    </div>
                </div>
                <div class="div3223">
                    <p>商品编码</p>
                    <p>3001090000403</p>
                </div>
                <div class="div3224" >
                    <p>选择尺寸</p>
                    <div class="div32241" id="ip">
                        <p>55英寸</p>
                    </div>
                    <div class="div32242" id="ipm">
                        <p>65英寸</p>
                    </div>
                    <div class="div32243" id="ipj">
                        <p>75英寸</p>
                    </div>
                </div>
                <div class="div3225">
                    <p>选择版本</p>
                    <div class="div32551" id="sms">
                        <p>荣耀智慧屏 超薄金属</p>
                    </div>
                    <div class="div32553" id="ys">
                        <p>荣耀智慧屏 4G内存</p>
                    </div>
                    <div class="div32553" id="js">
                        <p>荣耀智慧屏 视频通话</p>
                    </div>
                </div>
                <div class="div3226">
                    <p>好物推荐</p>
                    <div class="div32261">
                        <p>荣耀智慧屏 直播精灵</p>
                    </div>
                    <div class="div32262">
                        <p>荣耀路由Pro2</p>
                    </div>
                    <div class="div32263">
                        <p>荣耀平板5 10.1英寸</p>
                    </div>
                </div>
                <div class="div3227">
                    <p></p>
                    <div class="buy" id="buy">
                        <p type="button" id="btnBuy" onclick="myFunction5()">购 买</p>
                    </div>
                    <div class="buy2" id="card">
                        <p type="button" id="btnCart" onclick="myFunction6()">点击加入购物车</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div4" id="div4">
        <div class="div41">
            <div id="spxq">
                <a href="#xq">商品详情</a>
                <div class="div411" id="div411"></div>
            </div>
            <div id="ggcs">
                <a href="#cs">规格参数</a>
                <div class="div412" id="div412"></div>
            </div>
            <div id="bzysh">
                <a href="#az">包装与声明</a>
                <div class="div413" id="div413"></div>
            </div>
            <div id="yhpj">
                <a href="#bac">新品推荐</a>
                <div class="div414" id="div414"></div>
            </div>
        </div>
    </div>
    <div class="cs" id="cs">
        <div class="canshu">
            <p>规格参数</p>
        </div>
        <div class="cs0">
            <div class="cs1">
                <p>品牌 </p>
                <p>型号 </p>
                <p>分辨率 </p>
                <p>CPU型号</p>
                <p>上市时间</p>
                <p>证书编号 </p>
                <p>证书状态 </p>
                <p>操作系统</p>
                <p>网络连接方式 </p>
            </div>
            <div class="cs2">
                <p>honor/荣耀</p>
                <p>智慧屏LOK-330</p>
                <p>3840×2160</p>
                <p>4核</p>
                <p>2019年10月</p>
                <p>2020010808297940</p>
                <p>有效</p>
                <p>Harmony OS</p>
                <p>全部支持</p>
            </div>
        </div>
    </div>
    <div class="xq" id="xq">
        <div class="xiangqing">
            <p>商品详情</p>
        </div>
        <div class="xq1">
          <img src="../static/images/图1.jpg" width="100%">
          <img src="../static/images/图2.jpg" width="100%">
          <img src="../static/images/图3.jpg" width="100%">
          <img src="../static/images/图4.jpg" width="100%">
          <img src="../static/images/图5.jpg" width="100%">
          <img src="../static/images/图6.jpg" width="100%">
          <img src="../static/images/图7.jpg" width="100%">
          <img src="../static/images/图8.jpg" width="100%">
          <img src="../static/images/图9.jpg" width="100%">
          <img src="../static/images/图10.jpg" width="100%">
          <img src="../static/images/图11.jpg" width="100%">
          <img src="../static/images/图12.jpg" width="100%">
          <img src="../static/images/图13.jpg" width="100%">
          <img src="../static/images/图14.jpg" width="100%">
          <img src="../static/images/图15.jpg" width="100%">
          <img src="../static/images/图16.jpg" width="100%">
        </div>
    </div>
    <div class="az" id="az">
        <div class="anzhuang">
            <p>安装与声明</p>
        </div>
        <div class="az1">
          <img src="../static/images/图17.jpg" width="100%">
          <img src="../static/images/图18.jpg" width="100%">
          <img src="../static/images/图19.jpg" width="100%">
        </div>
    </div>           
    <div class="bac"id="bac">
        <div class="home-goods-list" id="goods">
            <div class="layout">
                <div class="home-star-goods " id="1">
                    <div class="xm-plain-box">
                        <div class="box-hd">
                            <h2 class="title">最新 ▪ 推荐</h2>
                        </div>
                        <div class="box-bd list">
                            <ul class="carousel-list xm-carousel-col-5-list">
                                <li>
                                    <img src="../static/images/小米pro.jpg" alt="">
                                    <h3>小米10 Pro全网通版</h3>
                                    <p class="desc">小米10 Pro全网通版</p>
                                    <a href="#" class="btn btn-paimary">登陆企业账户开始采购</a>
                                </li>
                                <li>
                                    <img src="../static/images/12.5“小米笔记本Air.jpg" alt="">
                                    <h3>小米笔记本</h3>
                                    <p class="desc">小米笔记本</p>
                                    <a href="#" class="btn btn-paimary">登陆企业账户开始采购</a>
                                </li>
                                <li>
                                    <img src="../static/images/小米净水器1A.jpg" alt="">
                                    <h3>小米净水器1A</h3>
                                    <p class="desc">小米净水器1A</p>
                                    <a href="#" class="btn btn-paimary">登陆企业账户开始采购</a>
                                </li>
                                <li>
                                    <img src="../static/images/小米多看电纸书.jpg" alt="">
                                    <h3>小米多看电纸书</h3>
                                    <p class="desc">小米多看电纸书</p>
                                    <a href="#" class="btn btn-paimary">登陆企业账户开始采购</a>
                                </li>
                                <li>
                                    <img src="../static/images/小米小背包.png" lt="">
                                    <h3>小米小背包</h3>
                                    <p class="desc">小米小背包</p>
                                    <a href="#" class="btn btn-paimary">登陆企业账户开始采购</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="purchasi-process">
                    <div class="layout caigou">
                        <h2>采购流程</h2>
                        <p>采购仅需4步，2个工作日内完成审核，到账后5个工作日内发货</p>
                        <div class="step"></div>
                    </div>
                    <a href="//www.mi.com/a/h/14020.html" target="_blank">Unbug企业会员管理规则，请点击></a>
                </div>
            </div>
        </div>
    </div>
    <div class="div10" id="div10" onmouseout="b();" onmouseover="a();">
        <div class="div101" id="div101">
            <img src="../static/images/15.png">
            <p>在线客服</p>
        </div>
        <div class="div102" id="div102">
            <img src="../static/images/16.png">
            <p>购物车</p>
        </div>
        <div class="div103" id="div103">
            <img src="../static/images/17.png">
            <p>二维码</p>
        </div>
        <div class="div104" id="div104">
            <img src="../static/images/18.png">
            <p>自助服务</p>
        </div>
    </div>
    <div class="footer">
        <div class="footer_top" >
            <h2>购买须知</h2>
            <p>
                上述所示分期付款金额仅为使用特定期数免息分期付款估算得出的示例（仅显示整数数额，未显示小数点以后的金额)，实际支付金额以银行或花呗账单为准。
                最高可享 24 期免息分期，到 Unbug 商城购买时可享受的免息分期期数和最低限额可能有所不同，银行和花呗提供的免息分期期数和最低限额可能有所不同。
                实际折抵金额取决于设备的状况、配置、制造年份，以及发售国家或地区。银行或花呗可能要求你的可用信用额度大于所购买产品的总金额，才能使用分期付款服务。
                有关信用卡或花呗分期服务的申请及使用问题，请与银行或花呗联系，Unbug 商城对此不做任何承诺和保证。
                Unbug 商城的折抵换购服务为 Unbug 商城与 Unbug 商城折抵服务合作伙伴共同推出，年满 18 周岁及以上者才能享受此项折抵换购服务。店内折抵换购需出示政府颁发并附有照片的有效身份证件 (当地法律可能会要求存储该信息)。
                可能需要遵守 Unbug 商城或 Unbug 商城折抵服务合作伙伴的其他条款。本折抵换购服务不能与 Unbug 商城的其他优惠或折扣活动同时使用。如需了解更多免息分期付款信息，请点击<a href="#">此处。</a>
            </p>
        </div>
        <div class="footer_bottom">
            <div>
                <ul>
                    <li>选购及了解</li>
                    <li><a href="#">Mac</a></li>
                    <li><a href="#">iPad</a></li>
                    <li><a href="#">iPhone</a></li>
                    <li><a href="#">Watch</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">AirPods</a></li>
                    <li><a href="#">HomePod</a></li>
                    <li><a href="#">iPod touch</a></li>
                    <li><a href="#">配件</a></li>
                    <li><a href="#">Store 充值卡</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>服务</li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">iCloud</a></li>
                    <li><a href="#">Pay</a></li>
                    <li><a href="#">Store</a></li>
                </ul>
                <ul>
                    <li>账户</li>
                    <li><a href="#">管理你的ID</a></li>
                    <li><a href="#">账户</a></li>
                    <li><a href="#">iCloud.com</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>商店</li>
                    <li><a href="#">查找零售店</a></li>
                    <li><a href="#">在线选购</a></li>
                    <li><a href="#">Genius Bar天才吧</a></li>
                    <li><a href="#">Tody at Unbug</a></li>
                    <li><a href="#">Unbug夏令营</a></li>
                    <li><a href="#">Unbug Store App</a></li>
                    <li><a href="#">翻新和优惠</a></li>
                    <li><a href="#">分期付款</a></li>
                    <li><a href="#">换购计划</a></li>
                    <li><a href="#">订单状态</a></li>
                    <li><a href="#">选购帮助</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>商务应用</li>
                    <li><a href="#">商务</a></li>
                    <li><a href="#">商务选购</a></li>
                </ul>
                <ul>
                    <li>教育应用</li>
                    <li><a href="#">教育</a></li>
                    <li><a href="#">高校师生选购</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Unbug价值观</li>
                    <li><a href="#">辅助功能</a></li>
                    <li><a href="#">环境责任</a></li>
                    <li><a href="#">隐私</a></li>
                    <li><a href="#">供应商责任</a></li>
                </ul>
                <ul>
                    <li>关于我们</li>
                    <li><a href="#">Newsroom</a></li>
                    <li><a href="#">管理层</a></li>
                    <li><a href="#">工作机会</a></li>
                    <li><a href="#">创造就业</a></li>
                    <li><a href="#">活动</a></li>
                    <li><a href="#">联系</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_last">
            <p>更多选购方式：<a href="#">查找你附近的零售店</a>及<a href="#">更多门店</a>，或者致电400-666-8800。</p>
            <div>
                <p>Copyright © 2020 Unbug Inc. 保留所有权利。</p>
                <div><a href="#">隐私政策</a></div>
                <div><a href="#">使用条款</a></div>
                <div><a href="#">销售政策</a></div>
                <div><a href="#">法律信息</a></div>
                <div><a href="#">网站地图</a></div>
            </div>
            <div class="beian">
                <p>京ICP备10214630 营业执照 无线电发射设备销售备案编号11201910351200</p>
            </div>
        </div>
    </div>
    <div class="pay_background" id="pay">
        <div class="pay">   
            <div class="shut_down" id="shut_down"></div>    
            <div class="information1">
                <div class="address">
                    <h3>收货地址</h3>
                    <p>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名&nbsp;&nbsp;：李华</p>
                    <p>联系电话&nbsp;：18312345678</p>
                    <p>详细地址&nbsp;：河南省新乡市牧野区东干街道河南师范大学</p>
                    <p>邮政编码&nbsp;：453000</p>
                </div>
                <div class="product">
                    <div class="logo">
                        <div class="logo0"></div>
                        <div class="logo1">订单信息</div>
                    </div>
                    <div class="buy-information">
                        <div class="logo2"><img src="../static/images/购买图.jpg"></div>
                        <div class="comm_text">
                            <p>商品名称：荣耀智慧屏</p>
                            <p>款式选择：
                                <select>
                                    <option >55英寸</option>
                                    <option>荣耀智慧屏 超薄金属</option>
                                </select>
                            </p>
                            <p>颜色选择：
                                <select>
                                    <option>黑色</option>
                                </select>
                            </p>
                            <p>数量：
                                <ul id='box1'>
                                    <li type="button" onclick="numDec()" id=sub>-</li>
                                    <li><input type='text' id='quantity' value='1'></li>
                                    <li type="button" id="add" onclick="numAdd()">+</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="tijiao">
                        <div class="buy_money">
                            <p>合计￥:
                                <span id="totalPrice">4499</span>
                                <input type="hidden" value="4499" id="price" />
                            </p>
                        </div>
                        <div class="buy_com">提交订单</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
 





</body>
</html>
{#<script type="text/javascript" src="./js/购买/buy4.js"></script>#}
<script>
    var div4 =document.getElementById('div4');
var div411 =document.getElementById('div411');
var div412 =document.getElementById('div412');
var div413 =document.getElementById('div413');
var div414 =document.getElementById('div414');
var spxq =document.getElementById('spxq');
var ggcs =document.getElementById('ggcs');
var bzysh =document.getElementById('bzysh');
var dyhpj =document.getElementById('yhpj');
var p1 =document.getElementById('p1');
var img1 =document.getElementById('img1');
var div61=document.getElementById('div61');
var div71=document.getElementById('div71');
var div721=document.getElementById('div721');

window.onscroll=function(){
    var a=document.documentElement.scrollTop;
    console.log(a);
    if(a>400){
        div4.style.height="3rem";
        if(a>600&&a<800){
            var b=((a-600)/200)*0.3+1;
            console.log(b);
            img1.style.transform = `scale(${b})`;
            var c=1-((a-600)/200)*0.2;
            p1.style.transform = `scale(${c})`;
        }else if(a>1000){
            div61.style.opacity="1";
            div61.style.marginTop="3rem";
            if(a>1130&&a<1630){
                var c=((1630-a)/550);
                div71.style.opacity=c;
            }else if(a>1630){
                console.log('错误');
            }
        }
        else if(a<1000){
            div61.style.opacity="0";
            div61.style.marginTop="0rem";
        }
        else{
            console.log('错误');
        }
    }else{
        div4.style.height="0rem";
    }
}
spxq.onclick=function button1(){
    div412.style.width="0rem";
    div411.style.width="100%";
    div413.style.width="0rem";
    div414.style.width="0rem";
}
ggcs.onclick=function button2(){
    div411.style.width="0rem";
    div412.style.width="100%";
    div413.style.width="0rem";
    div414.style.width="0rem";
}
bzysh.onclick=function button3(){
    div411.style.width="0rem";
    div413.style.width="100%";
    div412.style.width="0rem";
    div414.style.width="0rem";
}
yhpj.onclick=function button4(){
    div411.style.width="0rem";
    div414.style.width="100%";
    div413.style.width="0rem";
    div412.style.width="0rem";
}
</script>
{#<script type="text/javascript" src="./js/购买/buy10.js"></script>#}
<script>
    var div10=document.getElementById('div10');
var div101=document.getElementById('div101');
var div102=document.getElementById('div102');
var div103=document.getElementById('div103');
var div104=document.getElementById('div104');

function a(){
    div10.style.height="20rem";
}
function b(){
    div10.style.height="5rem";
}
</script>
{#<script type="text/javascript" src="./js/购买/buy3.js"></script>#}
<script>
    var img1=document.getElementById('img1');
var img=document.getElementsByName('img2');
var img2=document.getElementById('img2');
var img3=document.getElementById('img3');
var img4=document.getElementById('img4');
var img5=document.getElementById('img5');
var img6=document.getElementById('img6');
var img10=document.getElementById('img10');
var img11=document.getElementById('img11');
var i=0;

img2.onclick=function(){
    img1.src="./img/购买/11.jpg";
    i=0;
    console.log(i);
}
img3.onclick=function(){
    img1.src="./img/购买/22.jpg";
    i=1;
    console.log(i);
}
img4.onclick=function(){
    img1.src="./img/购买/33.jpg";
    i=2;
    console.log(i);
}
img5.onclick=function(){
    img1.src="./img/购买/55.jpg";
    i=3;
    console.log(i);
}
img6.onclick=function(){
    img1.src="./img/购买/66.jpg";
    i=4;
    console.log(i);
}
img10.onclick=function(){
    if(i>0){
        i--;
        console.log(i);
        img1.src=img[i].src;
    }

}
img11.onclick=function(){
    if(i<4){
        i++;
        console.log(i);
        img1.src=img[i].src;
    }
}
var ip=document.getElementById('ip');
var ipm=document.getElementById('ipm');
var ipj=document.getElementById('ipj');
var sms=document.getElementById('sms');
var ys=document.getElementById('ys');
var js=document.getElementById('js');
ip.onclick=function(){
    ip.style.border="1px solid red";
    ipm.style.border="1px solid #666666";
    ipj.style.border="1px solid #666";
}
ipm.onclick=function(){
    ipm.style.border="1px solid red";
    ip.style.border="1px solid #666";
    ipj.style.border="1px solid #666";
}
ipj.onclick=function(){
    ipj.style.border="1px solid red";
    ipm.style.border="1px solid #666";
    ip.style.border="1px solid #666";
}
sms.onclick=function(){
    sms.style.border="1px solid red";
    ys.style.border="1px solid #666";
    js.style.border="1px solid #666";
}
ys.onclick=function(){
    ys.style.border="1px solid red";
    sms.style.border="1px solid #666";
    js.style.border="1px solid #666";
}
js.onclick=function(){
    js.style.border="1px solid red";
    ys.style.border="1px solid #666";
    sms.style.border="1px solid #666";
}
// 购买
var shut_down=document.getElementById("shut_down");
var pay=document.getElementById("pay");
var buy=document.getElementById("buy");

shut_down.onclick=function shut(){
    pay.style.display="none";
}

buy.onclick=function open(){
    pay.style.display="block";
}


            // 订单数量增减
            // 商品数量+1
            function numAdd(){
                var quantity = document.getElementById("quantity").value;
                var num_add = parseInt(quantity)+1;
                var price=document.getElementById("price").value;
                if(quantity==""){
                    num_add = 1;
                }
                if(num_add>2){
                    document.getElementById("quantity").value=num_add-1;
                    alert("此商品限购2件");
                }else{
                    document.getElementById("quantity").value=num_add;
                    var Num=price*num_add;
                    document.getElementById("totalPrice").innerHTML=Num.toFixed(2);
                }
            }
            // 商品数量-1
            function numDec(){
                var quantity = document.getElementById("quantity").value;
                var price=document.getElementById("price").value;
                var num_dec = parseInt(quantity)-1;
                if(num_dec>0){
                    document.getElementById("quantity").value=num_dec;
                    var Num=price*num_dec;
                     document.getElementById("totalPrice").innerHTML=Num.toFixed(2);
                }
            }
// 加购物车
document.getElementById("btnCart").addEventListener("click", function () {
    alert("宝贝已加入购物车");
});
</script>
