<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>电视</title>
    <link href="../static/css/购买张桐菲.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <header>
            <div class="topbar">
                <div class="layout">
                    <div class="left">
                        <ul>
                            <li>Unbug商城</li>
                            <li>MIUI</li>
                            <li>loT</li>
                            <li>云服务</li>
                            <li>天星数科</li>
                            <li>有品</li>
                            <li>开放平台</li>
                            <li>企业团购</li>
                            <li>资质证照</li>
                            <li>协议规则</li>
                        </ul>
                    </div>
                    <div class="right">
                        <ul>
                            <li class="d">登录</li>
                            <li class="d">注册</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="site-header" id="site-header">
                    <div class="header-nav">
                        <ul class="nav-list">
                            <li>新品 ▪ 礼品</li>
                            <li>手机 ▪ 平板</li>
                            <li>笔记本 ▪家电 </li>
                            <li>智能 ▪ 路由器</li>
                            <li>耳机 ▪ 音箱</li>
                            <li>生活 ▪ 儿童</li>
                            <li>配件 ▪ 车品</li>
                        </ul>
                    </div>
                    <div class="header-search">
                        <form class="search-from search-from-focous" name="keyword" method="GET">
                            <label for="search" class="hide">站内搜索</label>
                            <input class="search-text" type="search" autocomplete="off" />
                            <span type="submit" class="search-btn"><i class="iconfont sc"></i></span>
                        </form>
                    </div>
                </div>
        </header> 
    </div>
    <div class="body_main">
        <div class="body_left">
            <div class="body_left_top"></div>
            <div class="body_left_bottom">
                <div class="sh">
                    <p>免费送货</p>
                </div>
                <div class="th">
                    <p>退货服务</p>
                </div>
            </div>
        </div>
        <div class="yc">
            <div class="body_right">
                <p>此商品活动中，请尽快购买！</p>
                <h1>荣耀智慧屏X1&nbsp;&nbsp;50时电视机&nbsp;&nbsp;8K解码4K超高清全面屏智能网络</h1>
                <p>【2+16G大内存/AI远场语言全面屏设计】&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p>本店活动&nbsp;&nbsp;满3699元减100元</p>
                <p>运费&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;预约配送30分钟内付款，预计两天内送达</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月销量&nbsp;326&nbsp;&nbsp;&nbsp;&nbsp;累计评价&nbsp;900&nbsp;&nbsp;&nbsp;&nbsp;送积分&nbsp;1249&nbsp;&nbsp;</p>
                <div class="xzjx">
                    <h6>选择配置</h6>
                    <a>套餐类型</a>
                    <div class="i_12_p" id="ip">
                        <div class="i_12_p_left">
                            <p>荣耀&nbsp;智慧屏 &nbsp;X1</p>
                            <p>官方标配</p>
                        </div>
                        <div class="i_12_p_right">
                            <p>①RMB&nbsp;1261.35/月或</p>
                            <p>RMB &nbsp;3699.00起</p>
                        </div>
                    </div>
                    <div class="i_12_p_m" id="ipm">
                        <div class="i_12_p_m_left">
                            <p>荣耀&nbsp;智慧屏&nbsp;Pro&nbsp;X1</p>
                            <p>超高配置</p>
                        </div>
                        <div class="i_12_p_m_right">
                            <p>①RMB&nbsp;644.24/月或</p>
                            <p>RMB &nbsp;4900.00起</p>
                        </div>
                    </div>
                </div>
                <div class="xzwg">
                    <h6>颜色分类</h6>
                    <div class="wg">
                        <div class="sms" id="sms">幻夜黑</div>
                    </div>
                </div>
                <div class="xzfw">
                    <h6>选择服务</h6>
                    <a>服务类型</a>
                    <div class="i_12_p" id="ip">
                        <div class="i_12_p_left">
                            <p>延长保修一年</p>
                            <p>标准</p>
                        </div>
                        <div class="i_12_p_right">
                            <p>①RMB&nbsp;47.00</p>
                        </div>
                    </div>
                    <div class="i_12_p_m" id="ipm">
                        <div class="i_12_p_m_left">
                            <p>意外保修两年</p>
                            <p>升级</p>
                        </div>
                        <div class="i_12_p_m_right">
                            <p>①RMB&nbsp;118.00</p>
                        </div>
                    </div>
                </div>
                <div class="ccrl">
                    <h6>选择存储容量</h6>
                    <a>存储容量</a>
                    <div class="cc">
                        <div class="ote" id="ote">128GB</div>
                        <div class="tfs" id="tfs">256GB</div>
                        <div class="foe" id="foe">512GB</div>
                        <div class="none"></div>
                    </div>
                </div>
                <div class="buy" id="buy">
                    <p>购&nbsp;&nbsp;&nbsp;&nbsp;买</p>
                </div>
                <img src="../static/img/xin.jpg">
               
            </div>
        </div>
    </div>
    <div class="last">
        <div class="last_text">
            <p>商品信息</p>
        </div>
        <div class="last_text2">
            <p>规格参数</p>
        </div>
        <div class="last_img0">
            <img src="../static/img/规格参数.png">
        </div>
        <div class="last_img">
            <img src="../static/img/baozhuangleft1.jpg">
        </div>
        </div>
    </div>
    <div class="pay_background" id="pay">
        <div class="pay">   
            <div class="shut_down" id="shut_down"></div>
            <div class="information">
                <div class="address">
                    <div class="address_img"></div>
                    <div class="address_text">
                        <p>李明</p>
                        <p>&nbsp;159****1234</p>
                        <p>河南省新乡市牧野区东干道街道河南师范大学</p>
                        <a href="#">收货不便时，可选择暂存服务</a>
                    </div>
                </div>
                <div class="commodity">
                    <div class="logo">
                        <div class="logo0"></div>
                        <div class="logo1"></div>
                    </div>
                    <div class="comm">
                        <div class="comm_img"></div>
                        <div class="comm_text">

                        </div>
                    </div>
                    <div class="gmsl"></div>
                </div>
                <div class="tijiao">
                    <div class="buy_money">
                        <p>共1件，合计：￥3599.90</p>
                    </div>
                    <div class="buy_com">提交订单</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>