<!DOCTYPE html>
    <head>
        <meta @charest="utf-8">

        <title>购买页面</title>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <link href="../static/css/购买李孟丹.css" rel="stylesheet" type="text/css">
        </head>
    <body>
        <!--<script src="商品前端\javascript\bootstrap.min.js"></script>-->      
        <div class="header">
            <h4>SAMSUN</h4>
        </div> 
        <div class="main">
                <div class="main_aside">
                    <div class="main_aside_top"></div>
                    <div class="main_aside_bottom">
                        <div class="sh">
                            <p>免费送货</p>
                        </div>
                        <div class="th">
                            <p>退换货服务</p>
                        </div>
                    </div>
                </div>
                <div class="main_aticle">
                    <p>新品</p>
                    <h4>购买三星Galaxy</h4>
                    <h6>每位顾客限购两部三星Galaxy Note20 或者三星Galaxy Note20 Ultra      
                    </h6>
                    <h5>参见三星折抵换购，可抵高达RMB2000*</h5>
                    <h6><a href="#">了解三星换购计划></a></h6>
                    <div class="xzjx">
                        <h6>选择机型</h6>
                        <p>哪款机型适合你？</p>
                        <div class="g_n" id="gn">
                            <div class="g_n_left">
                                <h5>三星Galaxy Note20 5G</h5>
                                <h5>6.9英寸显示屏</h5>
                            </div>
                            <div class="g_n_right">
                                <h5>RMB 9919元起</h5>
                            </div>
                        </div>
                        <div class="g_x" id="gx">
                            <div class="g_x_left">
                                <h5>三星Galaxy Note20 Ultra 5G</h5>
                                <h5>6.7英寸显示屏</h5>

                            </div>
                            <div class="g_x_right">
                                <h5>RMB 9699元起</h5>
                            </div>
                        </div>
                 
                    </div>
                    <div class="xzwg">
                        <h6>选择外观</h6>
                        <div class="wg">
                            <div class="yyh" id="yyh">曜岩黑</div>
                            <div class="mwj" id="mwj">迷雾金</div>
                            <div class="clb" id="clb">初露白</div>
                        </div>
                    </div>
                    <div class="ccrl">
                        <h6>存储容量</h6>
                        <p>多大的容量适合你？</p>
                        <div class="rl">
                            <div class="ote" id="ote">128GB</div>
                            <div class="tfs" id="tfs">256GB</div>
                            <div class="foe" id="foe">512GB</div>
                            <div class="none"></div>
                        </div>
                    </div>
                    <div class="buy" id="buy">
                        <p>购买</p>
                    </div>
                
                </div>
        </div>
        <div class="footer">
                <img src="../static/img/三星2.jpg">
                <img src="../static/img/三星3.jpg">
        </div>
        
    </body>   
</html>
