<!DOCTYPE html>
    <head>
        <meta @charest="utf-8">
        <title>购买页面</title>
        <link href="../static/css/购买手机页面.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="../static/img/三星logo1.ico">
        </head>
    <body>           
        <div class="header">
            <p>SAMSUNG</p>
            <div class="dropdown" id="dropdown">
                <span>智能手机</span>
                <div class="dropdown-content" id="dropdown-content">  
                    <a href="https://www.samsungeshop.com.cn/item/SM-G9810.htm"><img src="../static/img/s20 5gjpg.jpg"></a>
                                      
                    <a href="https://www.samsungeshop.com.cn/item/SM-F7070.htm"><img src="../static/img/z flip.jpg"></a>
                        
                    <a href="https://www.samsungeshop.com.cn/item/SM-G9860.htm"><img src="../static/img/s20+5g.jpg"></a>
                        
                    <a href="https://www.samsungeshop.com.cn/item/SM-G9880.htm"><img src="../static/img/s20 ultra.jpg"></a>
                </div>
            </div>
            <div class="dropdown">
                <span>可穿戴设备</span>
                <div class="dropdown-content">  
                    <a href="https://www.samsungeshop.com.cn/item/SM-R175.htm"><img src="../static/img/buds+.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/SM-R170.htm"><img src="../static/img/buds.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/SM-R820A.htm"><img src="../static/img/44mm不锈钢版.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/SM-R8050.htm"><img src="../static/img/46mm钛泽银.jpg"></a>
                </div>
            </div> 
            <div class="dropdown">
                <span>电视/影音</span>
                <div class="dropdown-content">  
                    <a href="https://www.samsungeshop.com.cn/item/QA55LS01TAJXXZ.htm"><img src="../static/img/55英寸.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/UA75TU8800JXXZ.htm"><img src="../static/img/75英寸.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/QA85Q950TSJXXZ.htm"><img src="../static/img/85英寸.jpg"></a>
                
                </div>
            </div> 
            <div class="dropdown">
                <span>电脑/平板</span>
                <div class="dropdown-content">  
                    <a href="https://www.samsungeshop.com.cn/item/SM-T860B.htm"><img src="../static/img/tab.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/SM-P615.htm"><img src="../static/img/tab s6 lite.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/NP767XCM-K01CN.htm"><img src="../static/img/767xcm.jpg"></a>
                </div>
            </div> 
            <div class="dropdown">
                <span>智能配件</span>
                <div class="dropdown-content">  
                    <a href="https://www.samsungeshop.com.cn/item/EO-IG935.htm"><img src="../static/img/入耳式耳机.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/EP-TA845.htm"><img src="../static/img/旅行充电器.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/EP-P1100.htm"><img src="../static/img/无线加速充电板.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/EP-TA200C.htm"><img src="../static/img/三星 旅行充电器.jpg"></a>
                </div>
            </div>
            <div class="dropdown">
                <span>智能家居</span>
                <div class="dropdown-content">  
                    <a href="https://www.samsungeshop.com.cn/item/GP-U999CEVLBCA.htm"><img src="../static/img/智能遥控器.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/GP-U999OREEAAA.htm"><img src="../static/img/智能插座.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/GP-U999SJVLECA.htm"><img src="../static/img/无线开关.jpg"></a>
                    <a href="https://www.samsungeshop.com.cn/item/SHP-DP739B."><img src="../static/img/三星智能锁.jpg"></a>
                </div>
            </div>                                                                                                                 
        </div> 
        <div class="main">
                <div class="main_aside">
                    <div class="main_aside_top">
                        <div id="banner">
                            <div id="content">
                                <ul id="ul">
                                    <li><img src="../static/img/三星4.jpg"></li>
                                    <li><img src="../static/img/三星5.jpg"></li>
                                    <li><img src="../static/img/三星6.jpg"></li>
                                    <li><img src="../static/img/三星7.jpg"></li>
                                    <li><img src="../static/img/三星8.jpg"></li>
                                </ul>
                            </div>
                            <div class="dot" id="dot">
                                <ul id="dotul">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>                       
                            <div id="btn">
                                <div class="btn1" id="left"> 
                                    <
                                </div>
                                <div class="btn2" id="right">
                                    >
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="main_aside_bottom">
                        <div class="sh">
                            <p>免费送货</p>
                        </div>
                        <div class="th">
                            <p>退换货服务</p>
                        </div>
                    </div>
                </div>
                <div class="main_aticle">
                    <p>新品</p>
                    <h4>购买三星Galaxy</h4>
                    <h6>每位顾客限购两部三星Galaxy Note20 或者三星Galaxy Note20 Ultra</h6>                         
                    <h5>参见三星折抵换购，可抵高达RMB2000*</h5>
                    <h6><a href="http://support-cn.samsung.com/campaign/mobilephone/GalaxyS20FE/index.html?cid=cn_paid_ppc_baidu_im-s20-fe_unpacked_s20-fe_text_20201016_s20-feppc-gw-samsungguanwang">官网点这里></a></h6>
                    <div class="xzjx">
                        <h6>选择机型</h6>
                        <p>哪款机型适合你？</p>
                        <div class="g_n" id="gn">
                            <div class="g_n_left">
                                <h5>三星Galaxy Note20 5G</h5>
                                <h5>6.9英寸显示屏</h5>
                            </div>
                            <div class="g_n_right">
                                <h5>RMB 9919元起</h5>
                            </div>
                        </div>
                        <div class="g_x" id="gx">
                            <div class="g_x_left">
                                <h5>三星Galaxy Note20 Ultra 5G</h5>
                                <h5>6.7英寸显示屏</h5>
                            </div>
                            <div class="g_x_right">
                                <h5>RMB 9699元起</h5>
                            </div>
                        </div>
                 
                    </div>
                    <div class="xzwg">
                        <h6>选择外观</h6>
                        <div class="wg">
                            <div class="yyh" id="yyh">曜岩黑</div>
                            <div class="mwj" id="mwj">迷雾金</div>
                            <div class="clb" id="clb">初露白</div>
                        </div>
                    </div>
                    <div class="ccrl">
                        <h6>存储容量</h6>
                        <p>多大的容量适合你？</p>
                        <div class="rl">
                            <div class="ote" id="ote">128GB</div>
                            <div class="tfs" id="tfs">256GB</div>
                            <div class="foe" id="foe">512GB</div>
                            <div class="none"></div>
                        </div>
                    </div>
                    <div class="buy" id="buy">
                        <p>购&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;买</p>
                    </div>               
                </div>
        </div>
        <div class="footer">
            <img src="../static/img/三星2.jpg">
            <img src="../static/img/img-11-b.jpg">
            <img src="../static/img/img-12-b.jpg">
            <img src="../static/img/img-13-b.jpg">
            <img src="../static/img/img-18-b.jpg">
            <img src="../static/img/img-2-b.jpg">
            <img src="../static/img/img-4-b.jpg">
            <img src="../static/img/img-23-b.jpg">
            <img src="../static/img/三星3.jpg">
        </div>
        <div class="pay_background" id="pay">
            <div class="pay">   
                <div class="shut_down" id="shut_down"></div>
                <div class="information">
                    <div class="address">
                        <div class="address_img"></div>
                        <div class="address_text">
                            <p>清欢</p>
                            <p>&nbsp;155****8730</p>
                            <p>河南省新乡市牧野区东干道街道河南师范大学</p>
                            <a href="#">收货不便时，可选择暂存服务</a>
                        </div>
                    </div>
                    <div class="commodity">
                        <div class="logo">
                            <div class="logo0"></div>
                            <div class="logo1"></div>
                        </div>
                        <div class="comm">
                            <div class="comm_img"></div>
                            <div class="comm_text">
                            </div>
                        </div>
                        <div class="gmsl"></div>
                    </div>
                    <div class="tijiao">
                        <div class="buy_money">
                            <p>共2件，合计：￥520.00</p>
                        </div>
                        <div class="buy_com">提交订单</div>
                    </div>
                </div>
            </div>
        </div>
{#        <script type="text/javascript" src="javascript/轮播图.js"></script>#}
        <script>
            var animationSpeed = 1; //一次切换的图片的个数
var minSpeed       = 10; //每次left增加或减少的数
var stopTime       = 5000; //要个多少秒切换下一张图片
var prev           = document.getElementById("left");
var next           = document.getElementById("right");
var banner         = document.getElementById("banner");
var content        = document.getElementById("content");
var imgul          = document.getElementById("ul");
var imgli          = document.getElementById("ul").getElementsByTagName("li");
var liwidth        = document.getElementById("ul").getElementsByTagName("li")[0].offsetWidth;
var dot            = document.getElementById("dot");
var dotul          = document.getElementById("dotul");
var dotli          = document.getElementById("dotul").getElementsByTagName("li");
var length         = document.getElementById("dotul").getElementsByTagName("li").length;
var type           = true; //是否可以渲染
var nextTimer      = null;
var prevTimer      = null;
var mainTimer      = null;

imgul.style.width = liwidth*length+"rem"; //将ul的宽度设置为所有照片宽度之和

//给每一个dotli添加一个index属性，方便改变小圆点的的颜色
for (var i = 0;i<length;i++){
    imgli[i].index = i;
    dotli[i].index = i;
}
changeColor(imgli[0]);

next.onclick = function (ev) {
    if (type){
        liwidth = 0;
        clearInterval(nextTimer); //先把上一次留下来的定时器清除
        nextTimer = setInterval(nextImg,animationSpeed);
        type = false;
        changeColor(imgli[1]);//改变圆点的颜色
    }
};
function nextImg(){
    imgul.style.left = "-"+liwidth+"rem";
    liwidth += minSpeed;
    if (liwidth >= imgli[0].offsetWidth){
        clearInterval(nextTimer);
        imgul.appendChild(imgli[0]); //先删除imgli[0],然后加到末尾。这样就实现了循环
        imgul.style.left = 0;
        type = true;
    }
}
prev.onclick = function (ev) { //如果可以渲染
    if (type){
        imgul.insertBefore(imgli[length-1],imgli[0]);//因为当前图片位置一直都是imgli[0],所以按照循环的意思，上一张就是imli[length-1]
        clearInterval(prevTimer);
        liwidth = imgli[0].offsetWidth;
        prevTimer = setInterval(prevImg,animationSpeed);
        type = false;//因为设置定时器，定时在渲染，所以此时不能被渲染
        changeColor(imgli[1]);//改变圆点颜色
    }
};


function prevImg() {
    imgul.style.left = "-"+liwidth+"rem";
    liwidth -= minSpeed;
    if (liwidth <= -1){
        clearInterval(prevTimer);
        imgul.style.left = 0;
        type = true; //定时器已经完成渲染了，所以此时可以渲染
    }
}

mainTimer = setInterval(next.onclick,5000);


function changeColor(target) {
    for (var j=0; j<length; j++){
        dotli[j].className = "";
    }
    dotli[target.index].className = "active";
}

//为每一小圆点添加点击事件
dot.onclick = function(ev){
    var ev = ev || window.event;
    var target = ev.target || ev.srcElement;
    if(target.nodeName.toLowerCase() == "li"){
        if(type){
            showImg(target.index);
            changeColor(target);
            type = true;
        }
    }
};

function showImg(inde){
    var this_li = imgli[0].index;

    if (inde>this_li){
        var x = inde-this_li;
        for(var y = 0; y<x; y++){
            imgul.appendChild(imgli[0]);
        }
    }

    if(inde<this_li){
        var x_x = this_li-inde;
        for(var g = 0; g<x_x; g++){
            imgul.insertBefore(imgli[length-1],imgli[0]);
        }
    }
}

content.onmouseover = function (ev){
    clearInterval(mainTimer);

};

content.onmouseout = function (ev){
    mainTimer = setInterval(next.onclick,stopTime);
};
        </script>
{#        <script type="text/javascript" src="javascript/按钮.js"></script>#}
        <script>
            var animationSpeed = 1; //一次切换的图片的个数
var minSpeed       = 10; //每次left增加或减少的数
var stopTime       = 5000; //要个多少秒切换下一张图片
var prev           = document.getElementById("left");
var next           = document.getElementById("right");
var banner         = document.getElementById("banner");
var content        = document.getElementById("content");
var imgul          = document.getElementById("ul");
var imgli          = document.getElementById("ul").getElementsByTagName("li");
var liwidth        = document.getElementById("ul").getElementsByTagName("li")[0].offsetWidth;
var dot            = document.getElementById("dot");
var dotul          = document.getElementById("dotul");
var dotli          = document.getElementById("dotul").getElementsByTagName("li");
var length         = document.getElementById("dotul").getElementsByTagName("li").length;
var type           = true; //是否可以渲染
var nextTimer      = null;
var prevTimer      = null;
var mainTimer      = null;

imgul.style.width = liwidth*length+"rem"; //将ul的宽度设置为所有照片宽度之和

//给每一个dotli添加一个index属性，方便改变小圆点的的颜色
for (var i = 0;i<length;i++){
    imgli[i].index = i;
    dotli[i].index = i;
}
changeColor(imgli[0]);

next.onclick = function (ev) {
    if (type){
        liwidth = 0;
        clearInterval(nextTimer); //先把上一次留下来的定时器清除
        nextTimer = setInterval(nextImg,animationSpeed);
        type = false;
        changeColor(imgli[1]);//改变圆点的颜色
    }
};
function nextImg(){
    imgul.style.left = "-"+liwidth+"rem";
    liwidth += minSpeed;
    if (liwidth >= imgli[0].offsetWidth){
        clearInterval(nextTimer);
        imgul.appendChild(imgli[0]); //先删除imgli[0],然后加到末尾。这样就实现了循环
        imgul.style.left = 0;
        type = true;
    }
}
prev.onclick = function (ev) { //如果可以渲染
    if (type){
        imgul.insertBefore(imgli[length-1],imgli[0]);//因为当前图片位置一直都是imgli[0],所以按照循环的意思，上一张就是imli[length-1]
        clearInterval(prevTimer);
        liwidth = imgli[0].offsetWidth;
        prevTimer = setInterval(prevImg,animationSpeed);
        type = false;//因为设置定时器，定时在渲染，所以此时不能被渲染
        changeColor(imgli[1]);//改变圆点颜色
    }
};


function prevImg() {
    imgul.style.left = "-"+liwidth+"rem";
    liwidth -= minSpeed;
    if (liwidth <= -1){
        clearInterval(prevTimer);
        imgul.style.left = 0;
        type = true; //定时器已经完成渲染了，所以此时可以渲染
    }
}

mainTimer = setInterval(next.onclick,5000);


function changeColor(target) {
    for (var j=0; j<length; j++){
        dotli[j].className = "";
    }
    dotli[target.index].className = "active";
}

//为每一小圆点添加点击事件
dot.onclick = function(ev){
    var ev = ev || window.event;
    var target = ev.target || ev.srcElement;
    if(target.nodeName.toLowerCase() == "li"){
        if(type){
            showImg(target.index);
            changeColor(target);
            type = true;
        }
    }
};

function showImg(inde){
    var this_li = imgli[0].index;

    if (inde>this_li){
        var x = inde-this_li;
        for(var y = 0; y<x; y++){
            imgul.appendChild(imgli[0]);
        }
    }

    if(inde<this_li){
        var x_x = this_li-inde;
        for(var g = 0; g<x_x; g++){
            imgul.insertBefore(imgli[length-1],imgli[0]);
        }
    }
}

content.onmouseover = function (ev){
    clearInterval(mainTimer);

};

content.onmouseout = function (ev){
    mainTimer = setInterval(next.onclick,stopTime);
};

        </script>
{#        <script type="text/javascript" src="javascript/弹出窗口.js"></script>#}
        <script>
            var shut_down=document.getElementById("shut_down");
var pay=document.getElementById("pay");
var buy=document.getElementById("buy");

shut_down.onclick=function shut(){
    pay.style.display="none";
}

buy.onclick=function open(){
    pay.style.display="block";
}
        </script>
        <!--<script type="text/javascript" src="javascript/下拉菜单.js"></script>-->
    </body>      
</html>
