<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/buy1.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy2.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy3.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy4.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy5.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy6.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy7.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy8.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy9.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy10.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy11.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy12.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy13.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy14.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy15.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy16.css" rel="stylesheet" type="text/css">
    <link href="../static/css/buy17.css" rel="stylesheet" type="text/css">
    <link href="../static/css/svg皇冠.css" rel="stylesheet" type="text/css">
    <link href="../static/css/svg二维码.css" rel="stylesheet" type="text/css">
    <link href="../static/css/svg人工客服.css" rel="stylesheet" type="text/css">
    <link href="../static/css/svg购物车.css" rel="stylesheet" type="text/css">
    <link href="../static/css/svg颜色按钮.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="div1" id="div1">
        <div class="div11">UNBUG</div>
        <div class="div12">
            <ul>
                <li><a href="#">登录</a></li>
                <li><a href="#">我的订单</a></li>
                <li>
                    <a href="#">客户服务<img src="./img/1b.png"></a>
                    <div class="div121">
                        <a href="#">服务中心</a>
                        <a href="#">联系客服</a>
                    </div>
                </li>
                <li><a href="#">网站导航<img src="./img/1b.png"></a></li>
                <li><a href="#">手机版<img src="./img/1b.png"></a></li>
                <li><a href="#">购物车<img src="./img/1b.png"></a></li>
            </ul>
        </div>
    </div>
    <div class="div2">
        <div class="div21">
            <p>UNBUG</p>
        </div>
        <div class="div22">
            <a href={{ url_for("shangPinQianDuan") }}></a>
            <!-- <a><img src="./img/购买/2.png"></a> -->
        </div>
    </div>
    <div class="div3">
        <div class="div31">
            <div class="div311">
                <div class="div3111">
                    <!-- <p>Unbug Pro12</p>
                    <p>HUAWEI FreeBuds Studio 无线头戴耳机 智慧动态降噪 宽频高解析音质 全场景智慧交互 晨曦金</p> -->
                    <div class="div31111">
                        <p>Unbug Pro12 —</p>
                    </div>
                    <div class="div31112">
                        <p>White technical <br>knit fabric high-tops</p>
                    </div>
                    <div class="div31113">
                        <p>Running sneakers with thin elastic<br>laces.</p>
                    </div>
                    <div class="div31114">
                        <div>
                            <div name="div31114"></div>
                        </div>
                        <div>
                            <div name="div31114"></div>
                        </div>
                        <div>
                            <div name="div31114"></div>
                        </div>
                    </div>
                </div>
                <div class="div3112" id="bi">
                    <img id="img3112" src="../static/img/9b.png">
                </div>
                <div class="div3113">
                    <div>
                        <div>
                            <p>COLOR</p>
                        </div>
                        <div>
                            <div class="bc31">
                                <svg id="svg9" eight="1.5rem" width="1.5rem" style="background-color:#f6f6f6" viewBox="0 0 100 100">
                                    <circle cx='50' cy='50' r='50' fill="#444444"></circle>
                                    <circle id="r33" cx='50' cy='50' r='42' fill='transparent' stroke="#111111" stroke-width='16'></circle>
                                </svg>
                            </div>
                            <div class="bc32">
                                <svg id="svg10" eight="1.5rem" width="1.5rem" style="background-color:#f6f6f6" viewBox="0 0 100 100">
                                    <circle cx='50' cy='50' r='50' fill="#2f506c"></circle>
                                    <circle id="r34" cx='50' cy='50' r='42' fill='transparent' stroke="#111111" stroke-width='16'></circle>
                                </svg>
                            </div>
                            <div class="bc33">
                                <svg id="svg11" eight="1.5rem" width="1.5rem" style="background-color:#f6f6f6" viewBox="0 0 100 100">
                                    <circle cx='50' cy='50' r='50' fill="#d2d3d4"></circle>
                                    <circle id="r35" cx='50' cy='50' r='42' fill='transparent' stroke="#111111" stroke-width='16'></circle>
                                </svg>
                            </div>
                            <div class="bc34">
                                <svg id="svg12" eight="1.5rem" width="1.5rem" style="background-color:#f6f6f6" viewBox="0 0 100 100">
                                    <circle cx='50' cy='50' r='50' fill="#e4544d"></circle>
                                    <circle id="r36" cx='50' cy='50' r='42' fill='transparent' stroke="#111111" stroke-width='16'></circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>STAR</p>
                        <div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <p>AMOUNT</p>
                        <div>
                            <p>￥299.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div312">
                <div>
                    <div></div>
                    <p>Video</p>
                </div>
                <div>
                    <div>
                        <a href={{ url_for("fukuan") }}>BUY</a>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="div4" id="div4">
        <div class="div41">
            <div id="spxq">
                <a href="#div5">商品详情</a>
                <div class="div411" id="div411"></div>
            </div>
            <div id="ggcs">
                <a href="#divo12">规格参数</a>
                <div class="div412" id="div412"></div>
            </div>
            <div id="bzysh">
                <a href="#divo14">包装与售后</a>
                <div class="div413" id="div413"></div>
            </div>
            <div id="yhpj">
                <a href="#a4">用户评价</a>
                <div class="div414" id="div414"></div>
            </div>
        </div>
    </div>
    <div class="div5" id="div5">
        <div class="div51">
            <p id="p1">AirPods Max</p>
        </div>
        <img src="../static/img/13b.png" id="img1">
    </div>
    <div class="div6">
        <div class="div61" id="div61">
            <p>AirPods Max 高调登场。它唱作俱佳，既带来高保真音质的拿手好戏，又</p>
            <p>继承 AirPods 的种种精妙。戴上它，进入个人聆听体验的新境界吧。</p>
        </div>
        <div class="div62">
            <img src="../static/img/14b.png">
        </div>
    </div>
    <div class="div7">
        <div class="div71" id="div71"></div>
        <video autoplay muted loop>
            <source src="../static/img/large.mp4">
        </voide>
    </div>
    <div class="div8">
        <p>高保真音质。</p>
        <p>主动降噪，搭配通透模式。</p>
        <p>空间音频，剧场般的环绕音效。</p>
        <div class="div81">
            <p>亮眼设计，佩戴服服帖帖。</p>
            <input type="button" value="观看产品影视">
        </div>
    </div>
    <div class="div9">
        <div class="div91">
            <p>音质</p>
            <p>一声入神。</p>
        </div>
        <div class="div92">
            <p>AirPods Max 集高保真音质和先进的主动降噪于一身，带来非同凡响的聆听体验。特制驱动单元的各个组件互相配合，能使声音在整个可听范围内都实现超低的失真度。从深沉浑厚的低音、精准的中音，到清脆纯净的高音，入耳的每个音符，都将刷新你对通透感的认知。</p>
        </div>
    </div>
    <div class="div10" id="div10" onmouseout="b();" onmouseover="a();">
        <div class="div101" id="div101">
            <svg id="svg1" height="2rem" width="2rem" style="background-color:#ffffff" viewBox="0 0 100 100">
                <path id='r21' d="M20 40  A 30 30 0 0 1 80 40" stroke="#999999" fill="transparent" stroke-width="3"></path>
                <path id='r22' d="M20 40 L25 40 L25 60 L20 60 A 5 5 0 0 1 15 55 L15 45 A 5 5 0 0 1 20 40" stroke="#999999" fill="transparent" stroke-width="3"></path>
                <path id='r23' d="M80 60 L75 60 L75 40 L80 40 A 5 5 0 0 1 85 45 L85 55 A 5 5 0 0 1 80 60" stroke="#999999" fill="transparent" stroke-width="3"></path>
                <path id='r24' d="M50 80 A 30 20 0 0 0 80 60" stroke="#999999" fill="transparent" stroke-width="3"></path>
                <circle cx='50' cy='80' r='3' fill="#999999"></circle>
            </svg>
            <p>在线客服</p>
        </div>
        <div class="div102" id="div102">
            <svg id="svg2" height="2rem" width="2rem" style="background-color:#ffffff" viewBox="0 0 1000 1000">
                <path id="r25" d="M69 136 L213 197 L213 667 A 65 65 0 0 0 278 732 L901 732" stroke="#999999" fill="transparent" stroke-width="30"></path>
                <path id="r26" d="M213 587 A 45 45 0 0 0 258 632 L856 632 A45 45 0 0 0 901 587 L901 339  A 36 36 0 0 0 869 296 L213 247" stroke="#999999" fill="transparent" stroke-width="30"></path>
                <line id="r27" x1='364' y1='407' x2='708' y2='407' stroke="#999999" stroke-width="30"></line>
                <line id="r28" x1='364' y1='505' x2='708' y2='505' stroke="#999999" stroke-width="30"></line>
                <circle cx='330' cy='800' r='76' fill='#999999'></circle>
                <circle cx='808' cy='800' r='76' fill='#999999'></circle>
            </svg>
            <p>购物车</p>
        </div>
        <div class="div103" id="div103">
            <svg id="svg3" height="2rem" width="2rem" style="background-color:#ffffff" viewBox="0 0 100 100">
                <rect id="r12" x='10' y='10' rx='3' ry='3' width='35' height='35' fill='transparent' stroke='#999999' stroke-width='3'></rect>
                <rect id="r13" x='55' y='10' rx='3' ry='3' width='35' height='35' fill='transparent' stroke='#999999' stroke-width='3'></rect>
                <rect id="r14" x='10' y='55' rx='3' ry='3' width='35' height='35' fill='transparent' stroke='#999999' stroke-width='3'></rect>
        
                <rect id="r15" x='20' y='20' rx='3' ry='3' width='15' height='15' fill="#999999"></rect>
                <rect id="r16" x='65' y='20' rx='3' ry='3' width='15' height='15' fill="#999999"></rect>
                <rect id="r17" x='20' y='65' rx='3' ry='3' width='15' height='15' fill="#999999"></rect>
        
                <line id="r18" x1='55' y1='55' x2='55' y2='90' stroke="#999999" stroke-width="3"></line>
                <line id="r19" x1='71' y1='55' x2='71' y2='90' stroke="#999999" stroke-width="3"></line>
                <line id="r20" x1='87' y1='55' x2='87' y2='90' stroke="#999999" stroke-width="3"></line>
            </svg>
            <p>二维码</p>
        </div>
        <div class="div104" id="div104">
            <svg id="svg4" width="2rem" style="background-color: #ffffff" viewBox="0 0 100 100">
                <line id="r1" x1='30' y1='90' x2='20' y2='50' stroke="#999999" stroke-width="3"></line>
                <line id="r2" x1='70' y1='90' x2='80' y2='50' stroke="#999999" stroke-width="3"></line>
        
                <line id="r3" x1='30' y1='90' x2='70' y2='90' stroke="#999999" stroke-width="3"></line>
                <line id="r4" x1='72' y1='82' x2='28' y2='82' stroke="#999999" stroke-width="3"></line>
        
                <line id="r5" x1='20' y1='50' x2='35' y2='55' stroke="#999999" stroke-width="3"></line>
                <line id="r6" x1='80' y1='50' x2='65' y2='55' stroke="#999999" stroke-width="3"></line>
        
                <line id="r7" x1='65' y1='55' x2='50' y2='40' stroke="#999999" stroke-width="3"></line>
                <line id="r8" x1='35' y1='55' x2='50' y2='40' stroke="#999999" stroke-width="3"></line>
        
                <circle id="r9" cx='18' cy='45' r='5' fill='transparent' stroke="#999999" stroke-width='3'></circle>
                <circle id="r10" cx='82' cy='45' r='5' fill='transparent' stroke="#999999" stroke-width='3'></circle>
                <circle id="r11" cx='50' cy='35' r='5' fill='transparent' stroke="#999999" stroke-width='3'></circle>
            </svg>
            <p>自助服务</p>
        </div>
    </div>
    <div class="divo11">
        <div class="div111">
            <h1>澎湃动力，古典更带劲</h1>
            <p>14mm大动圈单元配合独立低频导音管，形成谐振效应，让低音拥有澎湃动力，鼓点更带劲。</p>
            <p>高动态铝镁合金振膜，显著提升中、高音频响应能力，人声层次分明，乐器清亮通透。</p>    
        </div>
        <div class="div112">
            <div class="div1121" id="div1121">
                <p>声<br>声<br>更<br>沉<br>浸</p>
            </div>
            <div class="div1122" id="div1122">
                <p>细<br>节<br>细<br>细<br>听</p>
            </div>
            <div class="div1123" id="div1123">
                <p>句<br>句<br>不<br>失<br>真</p>
            </div>
            <div class="div1124" id="div1124">
                <p>环<br>绕<br>层<br>层<br>明</p>
            </div>
        </div>
    </div>
    <div class="divo12" id="divo12">
        <div class="divo121">
            <div class="divo1211">
                <div class="divo12112">
                    <svg width="10rem" height="10rem" viewBox="0 0 100 100">
                        <line id="r29" x1='100' y1='50' x2='10' y2='50' stroke="#ffffff" stroke-width="1"></line>
                    </svg>
                </div>
                <div class="divo12111" id="divo12111">
                    <p>耳机头带上的穹网由紧绷的透气织物构成，有助于分散重量，减轻头部的压迫感。</p>
                </div>
            </div>
            <div class="divo1212">
                <div class="divo12122">
                    <svg width="10rem" height="10rem" viewBox="0 0 100 100">
                        <line id="r30" x2='90' y2='50' x1='0' y1='50' stroke="#ffffff" stroke-width="1"></line>
                    </svg>
                </div>
                <div class="divo12121" id="divo12121">
                    <p>不锈钢框架外包裹的材料触感柔软，兼具出色的强度、弹性和舒适度。</p>
                </div>
            </div>
            <div class="divo1213">
                <div class="divo12132">
                    <svg width="10rem" height="10rem" viewBox="0 0 100 100">
                        <line id="r31" x1='100' y1='50' x2='10' y2='50' stroke="#ffffff" stroke-width="1"></line>
                    </svg>
                </div>
                <div class="divo12131" id="divo12131">
                    <p>伸缩套杆既能顺畅延展，也能稳定在你想要的位置，佩戴起来紧密贴合。</p>
                </div>
            </div>
            <div class="divo1214">
                <div class="divo12142">
                    <svg width="10rem" height="10rem" viewBox="0 0 100 100">
                        <line id="r32" x2='90' y2='50' x1='0' y1='50' stroke="#ffffff" stroke-width="1"></line>
                    </svg>
                </div>
                <div class="divo12141" id="divo12141">
                    <p>阳极氧化铝金属耳罩华丽精致，其创新的构造使两侧耳罩均可独立旋转，平衡耳朵承受的压力。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="divo13" id="divo13">
        <div class="divo131">
            <p>主要规格</p>
        </div>  
        <div class="divo132">
            <div class="divo1321">
                <div class="divo13211" id="divo13211"></div>
                <div class="divo13212" id="divo13212"></div>
                <div class="divo13213" id="divo13213"></div>
                <div class="divo13214" id="divo13214"></div>
            </div>
        </div>
        <div class="divo133" id="divo133">
            <div class="divo1331">
                <img id="img133" src="../static/img/23b.png">
            </div>
            <div class="divo1332">
                <p>梦幻樱花粉 静默星空黑 水天一色白 碧海星辰蓝
                </p>
            </div>
        </div>
        <div class="divo134">
            <div class="divo1341">
                <p>音频技术</p>
            </div>
            <div class="divo1342">
                <p>设计的动圈式驱动单元</p>
                <p>主动降噪</p>
                <p>通透模式</p>
                <p>自适应均衡</p>
                <p>具备动态头部追踪功能的空间音频</p>
            </div>
        </div>
        <div class="divo135">
            <div class="divo1351">
                <p>传感器</p>
            </div>
            <div class="divo1352">
                <p>光学传感器 (双侧耳罩)</p>
                <p>佩戴位置感应器 (双侧耳罩)</p>
                <p>耳机套感应器 (双侧耳罩)</p>
                <p>加速感应器 (双侧耳罩)</p>
                <p>陀螺仪 (左侧耳罩)</p>
            </div>
        </div>
        <div class="divo136">
            <div class="divo1361">
                <p>麦克风</p>
            </div>
            <div class="divo1362">
                <p>共有九个麦克风：</p>
                <p>用于主动降噪的麦克风 (八个)</p>
                <p>用于语音拾取的麦克风 (三个，其中一个专用于语音拾取，两个同时用于主动降噪)</p>
            </div>
        </div>
        <div class="divo137">
            <div class="divo1371">
                <p>芯片</p>
            </div>
            <div class="divo1372">
                <p>XXX-XXX 耳机芯片 (双侧耳罩)</p>
            </div>
        </div>
        <div class="divo138">
            <div class="divo1381">
                <p>控制</p>
            </div>
            <div class="divo1382">
                <p>数码旋钮</p>
                <p>旋转以调节音量</p>
                <p>按一下可播放、暂停或接听电话</p>
                <p>按两下可跳至下一曲目</p>
                <p>按三下可跳回上一曲目</p>
                <P>噪声控制按钮</P>
                <P>轻按可在主动降噪与通透模式之间切换</P>
            </div>
        </div>
        <div class="divo139">
            <div class="divo1391">
                <p>尺寸与重量</p>
            </div>
            <div class="divo1392">
                <p>XXX-XXX (含耳垫)</p>
                <div class="divo13921"></div>
                <p>重量：384.8克（13.6盎司）</p>
                <p>智能耳机套</p>
                <div class="divo13922"></div>
                <p>重量：134.5克（4.74盎司）</p>
            </div>
        </div>
        <div class="divo1310">
            <div class="divo13101">
                <p>电池</p>
            </div>
            <div class="divo13102">
                <p>XXX-XXX 单独使用</p>
                <p>单次充电聆听时间最长可达 20 小时 (启用主动降噪或通透模式)</p>
                <p>单次充电影片播放时间最长可达 20 小时 (启用空间音频)</p>
                <p>单次充电通话时间最长可达 20 小时</p>
                <p>充电 5 分钟即可获得大约 1.5 小时的聆听时间</p>
                <p>XXX-XXX 搭配智能耳机套使用</p>
                <p>放入智能耳机套即可进入超低能耗状态，以节省电量</p>
                <p>通过闪电接口充电</p>
            </div>
        </div>
    </div>
    <div class="divo14" id="divo14">
        <div class="divo141">
            <p>包装</p>
        </div>
        <div class="divo142">
            <ul>
                <li>耳机X 1副</li>
                <li>Type C充电线X 1</li>
                <li>快速指南 X 1</li>
                <li>安全信息说明 X 1</li>
            </ul>
            <ul>
                <li>保修卡</li>
            </ul>
        </div>
    </div>
    <div class="divo15">
        <div class="divo151">
            <p>售后服务</p>
        </div>
        <div class="divo152">
            <ul>
                <li>本产品全国联保，享受三包服务，保修期：1年</li>
                <li>如因质量问题或性能故障，凭UNBUG客户服务中心出具的质量检测证明，享受7日内退货，15日内换货，15日以上在保修期内可享受免费维修等三包服务</li>
                <li>消费者服务热线：950800</li>
                <li>华为消费者业务官网-服务与支持：https://consumer.huawei.com/cn/support/</li>
            </ul>
        </div>
    </div>
    <div class="divo16">
        <div class="divo161">
            <div class="divo1611">
                <p>99</p>
                <p>%</p>
            </div>
            <p>好评度</p>
        </div>
        <div class="divo162">
            <div class="divo1621" id="divo1621">
                <div class="divo16211">
                    <div class="divo162111" name="divo161">
                        <div id="divo161"></div>
                        <p>张**</p>
                    </div>
                </div>
                <div id="div162_r1">
                    <div id="divo1611" name="divo162">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div id="divo1612" name="divo162">
                        <p>第一次在实体店里看到这款耳机就爱上他了，降噪完美，音效完美！希望越做越好!</p>
                    </div>
                    <div id="divo1613" name="divo162">
                        <div>
                            <img src="../static/img/35b.png">
                        </div>
                        <div>
                            <img src="../static/img/36b.png">
                        </div>
                        <div>
                            <img src="../static/img/42b.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divo1622" id="divo1622">
                <div class="divo16212">
                    <div class="divo162121" name="divo161">
                        <div id="divo161"></div>
                        <p>孙**</p>
                    </div>
                </div>
                <div id="div162_r2">
                    <div id="divo1614" name="divo162">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div id="divo1615" name="divo162">
                        <p>很不错的头戴式耳机，包装很讲究。声音很好！还有降噪功能，对于非专门闭音设备来讲，已经不错了。也很智能，许多小的设置使得使用很方便。不错的产品！</p>
                    </div>
                    <div id="divo1616" name="divo162">
                        <div>
                            <img src="../static/img/43b.png">
                        </div>
                        <div>
                            <img src="../static/img/48b.png">
                        </div>
                        <div>
                            <img src="../static/img/45b.png">
                        </div>
                        <div>
                            <img src="../static/img/46b.png">
                        </div>
                        <div>
                            <img src="../static/img/47b.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divo1623" id="divo1623">
                <div class="divo16213">
                    <div class="divo162131" name="divo161">
                        <div id="divo161"></div>
                        <p>张**</p>
                    </div>
                </div>
                <div id="div162_r3">
                    <div id="divo1617" name="divo162">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div id="divo1618" name="divo162">
                        <p>感谢UNBUG为我带来优质的产品体验！音质完美饱满，人声清脆，低音厚实，降噪功能强大，透传和降噪两个世界，非常实用。做工精美，佩戴舒服，物流超级给力，睡了一觉，就有快递叫我起床收货。</p>
                    </div>
                    <div id="divo1619" name="divo162">
                        <div>
                            <img src="../static/img/48b.png">
                        </div>
                        <div>
                            <img src="../static/img/49b.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divo1624" id="divo1624">
                <div class="divo16214">
                    <div class="divo162141" name="divo161">
                        <div id="divo161"></div>
                        <p>邓**</p>
                    </div>
                </div>
                <div id="div162_r4">
                    <div id="divo161a" name="divo162">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div id="divo161b" name="divo162">
                            <p>这个价格还是不错的，效果很好，带上也比较舒服，不错~</p>
                    </div>
                    <div id="divo161c" name="divo162">
                        <div>
                            <img src="../static/img/50b.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divo1625" id="divo1625">
                <div class="divo16215">
                    <div class="divo162151" name="divo161">
                        <div id="divo161"></div>
                        <p>马**</p>
                    </div>
                </div>
                <div id="div162_r5">
                    <div id="divo161d" name="divo162">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div id="divo161e" name="divo162">
                        <p>很好用的耳机，开机秒连降噪功能很好，人生透传很清晰</p>
                    </div>
                    <div id="divo161f" name="divo162">
                        <div>
                            <img src="../static/img/35b.png">
                        </div>
                        <div>
                            <img src="../static/img/36b.png">
                        </div>
                        <div>
                            <img src="../static/img/42b.png">
                        </div>
                        <div>
                            <img src="../static/img/43b.png">
                        </div>
                        <div>
                            <img src="../static/img/45b.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_top">
            <p>
                上述所示分期付款金额仅为使用特定期数免息分期付款估算得出的示例（仅显示整数数额，未显示小数点以后的金额)，实际支付金额以银行或花呗账单为准。
                最高可享 24 期免息分期，到 Apple Store 零售店和在线商店购买时可享受的免息分期期数和最低限额可能有所不同，银行和花呗提供的免息分期期数和最低限额可能有所不同。
                实际折抵金额取决于设备的状况、配置、制造年份，以及发售国家或地区。银行或花呗可能要求你的可用信用额度大于所购买产品的总金额，才能使用分期付款服务。
                有关信用卡或花呗分期服务的申请及使用问题，请与银行或花呗联系，Apple 对此不做任何承诺和保证。
                Apple 的折抵换购服务为 Apple 与 Apple 折抵服务合作伙伴共同推出，年满 18 周岁及以上者才能享受此项折抵换购服务。店内折抵换购需出示政府颁发并附有照片的有效身份证件 (当地法律可能会要求存储该信息)。
                可能需要遵守 Apple 或 Apple 折抵服务合作伙伴的其他条款。本折抵换购服务不能与 Apple 的其他优惠或折扣活动同时使用。如需了解更多免息分期付款信息，请点击<a href="#">此处。</a>
            </p>
        </div>
        <div class="footer_bottom">
            <div>
                <ul>
                    <li>选购及了解</li>
                    <li><a href="#">Mac</a></li>
                    <li><a href="#">iPad</a></li>
                    <li><a href="#">iPhone</a></li>
                    <li><a href="#">Watch</a></li>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">AirPods</a></li>
                    <li><a href="#">HomePod</a></li>
                    <li><a href="#">iPod touch</a></li>
                    <li><a href="#">配件</a></li>
                    <li><a href="#">App Store 充值卡</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>服务</li>
                    <li><a href="#">Apple Music</a></li>
                    <li><a href="#">iCloud</a></li>
                    <li><a href="#">Apple Pay</a></li>
                    <li><a href="#">App Store</a></li>
                </ul>
                <ul>
                    <li>账户</li>
                    <li><a href="#">管理你的Apple ID</a></li>
                    <li><a href="#">Apple Store账户</a></li>
                    <li><a href="#">iCloud.com</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Apple Store商店</li>
                    <li><a href="#">查找零售店</a></li>
                    <li><a href="#">在线选购</a></li>
                    <li><a href="#">Genius Bar天才吧</a></li>
                    <li><a href="#">Tody at Apple</a></li>
                    <li><a href="#">Apple夏令营</a></li>
                    <li><a href="#">Apple Store App</a></li>
                    <li><a href="#">翻新和优惠</a></li>
                    <li><a href="#">分期付款</a></li>
                    <li><a href="#">Apple Trade In换购计划</a></li>
                    <li><a href="#">订单状态</a></li>
                    <li><a href="#">选购帮助</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>商务应用</li>
                    <li><a href="#">Apple与商务</a></li>
                    <li><a href="#">商务选购</a></li>
                </ul>
                <ul>
                    <li>教育应用</li>
                    <li><a href="#">Apple与教育</a></li>
                    <li><a href="#">高校师生选购</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Apple价值观</li>
                    <li><a href="#">辅助功能</a></li>
                    <li><a href="#">环境责任</a></li>
                    <li><a href="#">隐私</a></li>
                    <li><a href="#">供应商责任</a></li>
                </ul>
                <ul>
                    <li>关于Apple</li>
                    <li><a href="#">Newsroom</a></li>
                    <li><a href="#">Apple管理层</a></li>
                    <li><a href="#">工作机会</a></li>
                    <li><a href="#">创造就业</a></li>
                    <li><a href="#">活动</a></li>
                    <li><a href="#">联系Apple</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_last">
            <p>更多选购方式：<a href="#">查找你附近的Apple Store零售店</a>及<a href="#">更多门店</a>，或者致电400-666-8800。</p>
            <div>
                <p>Copyright © 2020 Apple Inc. 保留所有权利。</p>
                <div><a href="#">隐私政策</a></div>
                <div><a href="#">使用条款</a></div>
                <div><a href="#">销售政策</a></div>
                <div><a href="#">法律信息</a></div>
                <div><a href="#">网站地图</a></div>
            </div>
            <p>京ICP备10214630 营业执照 无线电发射设备销售备案编号11201910351200</p>
        </div>
    </div>
</body>
</html>
<script>
    var div31=document.getElementsByName('div31114');
var svg9=document.getElementById('svg9');
var svg10=document.getElementById('svg10');
var svg11=document.getElementById('svg11');
var svg12=document.getElementById('svg12');
var r33=document.getElementById('r33');
var r34=document.getElementById('r34');
var r35=document.getElementById('r35');
var r36=document.getElementById('r36');
var bi=document.getElementById('bi');


svg9.onclick=function(){
    r33.style.strokeDashoffset="0";
    r34.style.strokeDashoffset="283";
    r35.style.strokeDashoffset="283";
    r36.style.strokeDashoffset="283";
    bi.style.backgroundImage="url(../static/img/37b.png)";
    img3112.src="../static/img/15b.png";
    for(let j=0;j<div31.length;j++){
        div31[j].style.opacity="0";
    }
}
svg10.onclick=function(){
    r34.style.strokeDashoffset="0";
    r33.style.strokeDashoffset="283";
    r35.style.strokeDashoffset="283";
    r36.style.strokeDashoffset="283";
    bi.style.backgroundImage="url(../static/img/38b.png)";
    img3112.src="../static/img/15b.png";
    for(let j=0;j<div31.length;j++){
        div31[j].style.opacity="0";
    }
}
svg11.onclick=function(){
    r35.style.strokeDashoffset="0";
    r33.style.strokeDashoffset="283";
    r34.style.strokeDashoffset="283";
    r36.style.strokeDashoffset="283";
    bi.style.backgroundImage="url(../static/img/39b.png)";
    img3112.src="../static/img/15b.png";
    for(let j=0;j<div31.length;j++){
        div31[j].style.opacity="0";
    }
}
svg12.onclick=function(){
    r36.style.strokeDashoffset="0";
    r33.style.strokeDashoffset="283";
    r34.style.strokeDashoffset="283";
    r35.style.strokeDashoffset="283";
    bi.style.backgroundImage="url(../static/img/40b.png)";
    img3112.src="../static/img/15b.png";
    for(let j=0;j<div31.length;j++){
        div31[j].style.opacity="0";
    }
}
div31[0].onclick=function(){
    for(let j=0;j<div31.length;j++){
        if(j===0){
            div31[j].style.opacity="0.5";
            // div312.style.backgroundImage="url(./img/购买/新建文件夹/0.png)";
        }else{
            div31[j].style.opacity="0";
        }
    }
    img3112.src="../static/img/9b.png";
    bi.style.backgroundImage="url(../static/img/15b.png)";
    // bi.style.backgroundImage="url(./img/购买/3.png)";
}
div31[1].onclick=function(){
    for(let j=0;j<div31.length;j++){
        if(j===1){
            div31[j].style.opacity="0.5";
        }else{
            div31[j].style.opacity="0";
        }
    }
    // bi.style.backgroundImage="url(./img/购买/4.png)";
    img3112.src="../static/img/10b.png";
    bi.style.backgroundImage="url(../static/img/15b.png)";
    // div31125.style.transform=`rotateX(${rota1})`;
}
div31[2].onclick=function(){
    for(let j=0;j<div31.length;j++){
        if(j===2){
            div31[j].style.opacity="0.5";
            // div312.style.backgroundImage="url(./img/购买/新建文件夹/2.png)";
        }else{
            div31[j].style.opacity="0";
        }
    }
    img3112.src="../static/img/11b.png";
    bi.style.backgroundImage="url(../static/img/15b.png)";
}
var div4 =document.getElementById('div4');
var div411 =document.getElementById('div411');
var div412 =document.getElementById('div412');
var div413 =document.getElementById('div413');
var div414 =document.getElementById('div414');
var spxq =document.getElementById('spxq');
var ggcs =document.getElementById('ggcs');
var bzysh =document.getElementById('bzysh');
var dyhpj =document.getElementById('yhpj');
var p1 =document.getElementById('p1');
var img1 =document.getElementById('img1');
var div61=document.getElementById('div61');
var div71=document.getElementById('div71');
var div721=document.getElementById('div721');
var r29=document.getElementById('r29');
var r30=document.getElementById('r30');
var r31=document.getElementById('r31');
var r32=document.getElementById('r32');
var divo12111=document.getElementById('divo12111');
var divo12121=document.getElementById('divo12121');
var divo12131=document.getElementById('divo12131');
var divo12141=document.getElementById('divo12141');
var divo161=document.getElementsByName("divo161");
var divo162=document.getElementsByName('divo162');

window.onscroll=function(){
    var a=document.documentElement.scrollTop;
    console.log(a);
    if(a>400){
        div4.style.height="3rem";
        console.log('导航栏高度变为3rem');
        if(a>600&&a<800){
            var b=((a-600)/200)*0.3+1;
            console.log('背景照片放大');
            img1.style.transform = `scale(${b})`;
            var c=1-((a-600)/200)*0.2;
            console.log('文字照片缩小');
            p1.style.transform = `scale(${c})`;
        }else if(a>1000){
            console.log('文字显示并下移');
            div61.style.opacity="1";
            div61.style.marginTop="3rem";
            if(a>1130&&a<1630){
                var d=((1630-a)/550);
                console.log('将上方黑色板块设置为透明');
                div71.style.opacity=d;
            }else if(a>4250&&a<4950){
                div1121.style.transform=`translateY(0rem)`;
                div1122.style.transform=`translateY(0rem)`;
                div1123.style.transform=`translateY(0rem)`;
                div1124.style.transform=`translateY(0rem)`;
                div1121.style.opacity='1';
                div1122.style.opacity='1';
                div1123.style.opacity='1';
                div1124.style.opacity='1';
            }else if(a>5200&&a<5400){
            div411.style.width="0rem";
            div412.style.width="100%";
            div413.style.width="0rem";
            div414.style.width="0rem";
            r29.style.strokeDashoffset="0";
            r30.style.strokeDashoffset="0";
            r31.style.strokeDashoffset="0";
            r32.style.strokeDashoffset="0";
            divo12111.style.opacity="1";
            divo12121.style.opacity="1";
            divo12131.style.opacity="1";
            divo12141.style.opacity="1";
            }else if(a>=5400&&a<5500){
                r29.style.strokeDashoffset="90";
                r30.style.strokeDashoffset="90";
                r31.style.strokeDashoffset="90";
                r32.style.strokeDashoffset="90";
                divo12111.style.opacity="0";
                divo12121.style.opacity="0";
                divo12131.style.opacity="0";
                divo12141.style.opacity="0";
            }
            else if(a<=5200&&a>=5100){
                div412.style.width="0rem";
                div411.style.width="100%";
                div413.style.width="0rem";
                div414.style.width="0rem";
                r29.style.strokeDashoffset="90";
                r30.style.strokeDashoffset="90";
                r31.style.strokeDashoffset="90";
                r32.style.strokeDashoffset="90";
                divo12111.style.opacity="0";
                divo12121.style.opacity="0";
                divo12131.style.opacity="0";
                divo12141.style.opacity="0";
            }else if(a>=8600&&a<=8800){
                div413.style.width="0rem";
                div412.style.width="100%";
                div411.style.width="0rem";
                div414.style.width="0rem";
            }else if(a>=8800&&a<=9000){
                div412.style.width="0rem";
                div413.style.width="100%";
                div411.style.width="0rem";
                div414.style.width="0rem";
            }else if(a>9000){
                div412.style.width="0rem";
                div414.style.width="100%";
                div411.style.width="0rem";
                div413.style.width="0rem";
                for(let j=0;j<divo161.length;j++){
                    divo161[j].style.opacity="1";
                    divo161[j].style.marginTop="1rem";
                }
                for(let j=0;j<divo162.length;j++){
                    if(j%3===0){
                        // console.log(j);
                        other_div161(j);
                    }else{
                        console.log('错误');
                    }
                }
                // divo1621.style.margin="0 0 10rem 0";
            }
            else{
                div1121.style.transform=`translateY(-7.5rem)`;
                div1122.style.transform=`translateY(7.5rem)`;
                div1123.style.transform=`translateY(-7.5rem)`;
                div1124.style.transform=`translateY(7.5rem)`;
                div1121.style.opacity='0';
                div1122.style.opacity='0';
                div1123.style.opacity='0';
                div1124.style.opacity='0';
            }
        }
        else if((a<=1000&&a>=800)||(a<=600)){
            div61.style.opacity="0";
            div61.style.marginTop="0rem";
        }
        else{
            console.log('错误');
        }
    }else{
        div4.style.height="0rem";
    }
}

spxq.onclick=function button1(){
    div412.style.width="0rem";
    div411.style.width="100%";
    div413.style.width="0rem";
    div414.style.width="0rem";
}
ggcs.onclick=function button2(){
    div411.style.width="0rem";
    div412.style.width="100%";
    div413.style.width="0rem";
    div414.style.width="0rem";
}
bzysh.onclick=function button3(){
    div411.style.width="0rem";
    div413.style.width="100%";
    div412.style.width="0rem";
    div414.style.width="0rem";
}
yhpj.onclick=function button4(){
    div411.style.width="0rem";
    div414.style.width="100%";
    div413.style.width="0rem";
    div412.style.width="0rem";
}
function other_div161(text1){
    divo162[text1].style.opacity="1";
    divo162[text1].style.marginTop="0";
    setTimeout("other_div162()",500);
}
function other_div162(){
    // console.log(text2);
    divo162[1].style.opacity="1";
    divo162[4].style.opacity="1";
    divo162[7].style.opacity="1";
    divo162[10].style.opacity="1";
    divo162[13].style.opacity="1";
    divo162[1].style.marginTop="0";
    divo162[4].style.marginTop="0";
    divo162[7].style.marginTop="0";
    divo162[10].style.marginTop="0";
    divo162[13].style.marginTop="0";
    setTimeout("other_div163()",500);
}
function other_div163(){
    // console.log('错误');
    divo162[2].style.opacity="1";
    divo162[5].style.opacity="1";
    divo162[8].style.opacity="1";
    divo162[11].style.opacity="1";
    divo162[14].style.opacity="1";
    divo162[2].style.marginTop="0";
    divo162[5].style.marginTop="0";
    divo162[8].style.marginTop="0";
    divo162[11].style.marginTop="0";
    divo162[14].style.marginTop="0";
}
var div10=document.getElementById('div10');
var div101=document.getElementById('div101');
var div102=document.getElementById('div102');
var div103=document.getElementById('div103');
var div104=document.getElementById('div104');

function a(){
    div10.style.height="16rem";
}
function b(){
    div10.style.height="4rem";
}
var divo13211=document.getElementById('divo13211');
var divo13212=document.getElementById('divo13212');
var divo13213=document.getElementById('divo13213');
var divo13214=document.getElementById('divo13214');
var img133=document.getElementById('img133');
var divo13=document.getElementById('divo13');

divo13211.onclick=function(){
    img133.src="../static/img/23b.png";
    divo13.style.backgroundColor="#ffdfdf";
}
divo13212.onclick=function(){
    img133.src="../static/img/24b.png";
    divo13.style.backgroundColor="#dddddd";
}
divo13213.onclick=function(){
    img133.src="../static/img/25b.png";
    divo13.style.backgroundColor="#ffffff";
}
divo13214.onclick=function(){
    img133.src="../static/img/26b.png";
    divo13.style.backgroundColor="#e5f3ff";
}
</script>