*{
    margin:0;
    padding:0;
}
p,a,li,span{
    font-family: '微软雅黑';
}
#div1{
    position:fixed;
    height:1.5rem;
    width:100%;
    background-color: #333333;
    display: flex;
    flex-flow:row nowrap;
    align-items: stretch;
    justify-content: space-between;
    z-index:3;
}
#div1 a{
    font-size:0.75rem;
    color:#ffffff;
    text-decoration: none;
}
#div1 #div11,
#div1 #div12{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left:8rem;
}
#div1 #div11 a{
    margin-right:2rem;
}
#div1 #div12{
    margin-right:8rem;
}
#div2{
    position: absolute;
    top:1.5rem;
    height:7rem;
    width:100%;
    /* background-color:aqua; */
}
#div2 #div21{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-2rem);
    height:2rem;
    width:42rem;
    /* background-color: violet; */
}
#div2 #div21> :first-child,
#div2 #div21> :nth-child(3),
#div2 #div21> :nth-child(5),
#div2 #div21> :nth-child(7),
#div2 #div21> :last-child{
    position:absolute;
    height:2rem;
    width: 2rem;
    border-radius: 1.5rem;
    background-color: #999999;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
#div2 #div21> :first-child{
    background-color: #D42727;
}
#div2 #div21> :first-child p,
#div2 #div21> :nth-child(3) p,
#div2 #div21> :nth-child(5) p,
#div2 #div21> :nth-child(7) p,
#div2 #div21> :last-child p{
    color:#ffffff;
}
#div2 #div21> :nth-child(3){
    left:10rem;
}
#div2 #div21> :nth-child(5){
    left:20rem;
}
#div2 #div21> :nth-child(7){
    left:30rem;
}
#div2 #div21> :last-child{
    left:40rem;
}
#div2 #div21> :nth-child(2),
#div2 #div21> :nth-child(4),
#div2 #div21> :nth-child(6),
#div2 #div21> :nth-child(8){
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left:3rem;
    width:6rem;
    height:2px;
    background-color: #cccccc;
}
#div2 #div21> :nth-child(4){
    left:13rem;
}
#div2 #div21> :nth-child(6){
    left:23rem;
}
#div2 #div21> :nth-child(8){
    left:33rem;
}
#div2 #div22{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,0);
    height:2rem;
    width:44rem;
    /* background-color:coral; */
}
#div2 #div22> :first-child,
#div2 #div22> :nth-child(2),
#div2 #div22> :nth-child(3),
#div2 #div22> :nth-child(4),
#div2 #div22> :last-child{
    position:absolute;
    height:2rem;
    width: 4rem;
    /* background-color: #D42727; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
#div2 #div22> :nth-child(2){
    left:10rem;
}
#div2 #div22> :nth-child(3){
    left:20rem;
}
#div2 #div22> :nth-child(4){
    left:30rem;
}
#div2 #div22> :last-child{
    left:40rem;
}
#div2 #div22> :first-child p,
#div2 #div22> :nth-child(2) p,
#div2 #div22> :nth-child(3) p,
#div2 #div22> :nth-child(4) p,
#div2 #div22> :last-child p{
    font-size: 12px;
    font-weight: 600;
    color:#999999;
}
#div2 #div22> :first-child p{
    color:#D42727;
}
#div3{
    position: absolute;
    top:8.5rem;
    width:100%;
    /* background-color:blueviolet; */
    display: flex;
    flex-flow:column nowrap;
    align-items: stretch;
}
#div3 #div31{
    margin:0 8rem 0 8rem;
    height:2rem;
    background-color: #eeeeee;
}
#div3 #div31 p{
    margin-left:1rem;
    font-weight: 600;
    font-size: 14px;
    color:#333333;
    line-height: 2rem;
}
#div3 #div32{
    margin:0.75rem 8rem 0 8rem;
    /* background-color: chartreuse; */
    display: flex;
    flex-flow:column nowrap;
}
#div3 #div32 #div321{
    width: 30rem;
    height:2rem;
    background-color: #dddddd;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
}
#div3 #div32 #div321 #div3211,
#div3 #div32 #div321 #div3212{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#div3 #div32 #div321 #div3211 p,
#div3 #div32 #div321 #div3212 a{
    margin-right: 1rem;
    font-size: 12px;
    color:#999999;
}
#div3 #div32 #div321 #div3211 p{
    margin-left:1rem;
}
#div3 #div32 #div321 #div3211 :last-child{
    color:#333333;
}
#div3 #div32 #div321 #div3212 a{
    color:blue;
    text-decoration: none;
}
#div3 #div32 #div322,
#div3 #div32 #div323,
#div3 #div32 #div324,
#div3 #div32 #div325,
#div3 #div32 #div326{
    margin-top:0.75rem;
    height:2rem;
    width: 30rem;
    /* background-color: #D42727; */
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}
#div3 #div32 #div322> :first-child,
#div3 #div32 #div323> :first-child,
#div3 #div32 #div324> :first-child,
#div3 #div32 #div325> :first-child,
#div3 #div32 #div326> :first-child{
    width:6rem;
    /* background-color: red; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#div3 #div32 #div322> :first-child :first-child,
#div3 #div32 #div323> :first-child :first-child,
#div3 #div32 #div324> :first-child :first-child,
#div3 #div32 #div325> :first-child :first-child,
#div3 #div32 #div326> :first-child :first-child{
    margin-left:1rem;
    font-size: 12px;
    color:#D42727;
}
#div3 #div32 #div322> :first-child :last-child,
#div3 #div32 #div323> :first-child :last-child,
#div3 #div32 #div324> :first-child :last-child,
#div3 #div32 #div325> :first-child :last-child,
#div3 #div32 #div326> :first-child :last-child{
    font-size: 12px;
    color:#333333;
}
#div3 #div32 #div322> :last-child,
#div3 #div32 #div323> :last-child,
#div3 #div32 #div324> :last-child,
#div3 #div32 #div325> :last-child,
#div3 #div32 #div326> :last-child{
    flex:1 1 auto;
    /* background-color: blueviolet; */
}
#div3 #div32 #div322> :last-child{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
#div3 #div32 #div322> :last-child #div3221{
    height:2rem;
    background-color: #eeeeee;
    border: 1px solid #c4c6cf;
    border-radius: 3px;
    flex:0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#div3 #div32 #div322> :last-child #div3221 p{
    margin-left:0.5rem;
    font-size: 12px;
    color:#999999;
}
#div3 #div32 #div322> :last-child #div3221 img{
    margin-right:0.5rem;
    height:1rem;
    width: 1rem;
}
#div3 #div32 #div322> :last-child #div3222{
    z-index:2;
    height:10rem;
    background-color: cornflowerblue;
    flex:0 0 auto;
    display: none;
    flex-flow: column nowrap;
    align-items: stretch;
}
#div3 #div32 #div322> :last-child #div3222 #div32221{
    height:2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}
#div3 #div32 #div322> :last-child #div3222 #div32221> div{
    flex:1 1 auto;
    background-color: #dddddd;
    line-height: 2rem;
    text-align: center;
    font-size:12px;
    font-family: '微软雅黑';
}
#div3 #div32 #div322> :last-child #div3222 #div32221> :first-child{
    background-color: #ffffff;
}
#div3 #div32 #div322> :last-child #div3222 #div32222{
    height:8rem;
    background-color: blue;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    overflow:hidden;
}
#div3 #div32 #div322> :last-child #div3222 #div32222 >div{
    transform: translateY(0);
    height:8rem;
    background-color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    flex:0 0 auto;
    overflow:auto;
    background-color: #eeeeee;
}
#div3 #div32 #div322> :last-child #div3222 #div32222 >div p{
    margin-left:1rem;
    line-height: 2rem;
    color:#333333;
    font-size: 12px;
    cursor: pointer;
}
#div3 #div32 #div322> :last-child #div3222 #div32222 >div p:hover{
    color:blue;
}
#div3 #div32 #div323{
    height:4rem;
}
#div3 #div32 #div323 :last-child{
    display: flex;
    flex-flow:column nowrap;
    align-items: stretch;
}
#div3 #div32 #div323 :last-child textarea{
    height:4rem;
    border:1px solid #aaaaaa;
    border-radius: 3px;
}
#div3 #div32 #div324 :last-child{
    display: flex;
    flex-flow:column nowrap;
    align-items: stretch;
}
#div3 #div32 #div324 :last-child input{
    display: block;
    height:2rem;
    border:1px solid #aaaaaa;
    border-radius: 3px;
}
#div3 #div32 #div325 :last-child{
    display: flex;
    flex-flow:column nowrap;
    align-items: stretch;
}
#div3 #div32 #div325 :last-child input{
    display: block;
    height:2rem;
    border:1px solid #aaaaaa;
    border-radius: 3px;
}
#div3 #div32 #div326 :last-child{
    display: flex;
    flex-flow:row nowrap;
    align-items: stretch;
}
#div3 #div32 #div326 :last-child #other2{
    width:7rem;
    border:1px solid #aaaaaa;
    border-radius: 3px;
}
#div3 #div32 #div326 :last-child #other2 p{
    line-height:30px;
    font-size: 12px;
    margin-left:0.5rem;
    font-family: '楷体';
}
#div3 #div32 #div326 :last-child #other3{
    margin-left:0.75rem;
    flex:1 1 auto;
    display: flex;
    flex-flow:row nowrap;
    align-self: stretch;
}
#div3 #div32 #div326 :last-child #other3 input{
    display: block;
    flex:1 1 auto;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
}
#div3 #div32 #div327{
    margin-top:0.75rem;
    height: 2rem;
    /* background-color: red; */
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
}
#div3 #div32 #div327 input{
    display: block;
    height:1rem;
    width: 1rem;
    margin-left:94px;
}
#div3 #div32 #div327 p{
    margin-left:0.5rem;
    font-family: '楷体';
    font-size: 12px;
}
#div4{
    position:absolute;
    top:31.75rem;
    width: 100%;
}
#div4 #div41{
    position:absolute;
    height:2rem;
    width: 100%;
    /* background-color: aqua; */
}
#div4 #div41 p{
    margin-left:8rem;
    line-height: 2rem;
    font-size: 0.75rem;
    font-weight: 600;
}
#div4 #div42{
    position:absolute;
    top:2rem;
    width: 100%;
    height:2rem;
    /* background-color: aqua; */
    display: flex;
    flex-flow:row nowrap;
    align-items: stretch;
}
#div4 #div42 #div421{
    margin:0 8rem 0 8rem;
    flex:1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}
#div4 #div42 #div421> :first-child{
    margin:0 2px 0 2px;
    width:10rem;
    flex:1 1 auto;
    border-bottom:3px solid #56a5ff;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: flex-end;
}
#div4 #div42 #div421> :nth-child(2){
    margin:0 2px 0 2px;
    width:10rem;
    flex:1 1 auto;
    border-bottom:3px solid #56a5ff;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: flex-end;
}
#div4 #div42 #div421> :nth-child(3){
    margin:0 2px 0 2px;
    width:3rem;
    flex:1 1 auto;
    border-bottom:3px solid #56a5ff;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: flex-end;
}
#div4 #div42 #div421> :nth-child(4){
    margin:0 2px 0 2px;
    width:3rem;
    flex:1 1 auto;
    border-bottom:3px solid #56a5ff;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: flex-end;
}
#div4 #div42 #div421> :nth-child(5){
    margin:0 2px 0 2px;
    width:3rem;
    flex:1 1 auto;
    border-bottom:3px solid #56a5ff;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: flex-end;
}
#div4 #div42 #div421> :last-child{
    margin:0 2px 0 2px;
    width:3rem;
    flex:1 1 auto;
    border-bottom:3px solid #56a5ff;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: flex-end;
}
#div4 #div42 #div421 div p{
    margin-bottom: 2px;
    font-size: 0.75rem;
    color:#333333;
}
#div4 #div43{
    position:absolute;
    top:4rem;
    width: 100%;
    height:2.5rem;
    /* background-color: aqua; */
    display: flex;
    flex-flow:row nowrap;
    align-items:stretch;
}
#div4 #div43 #div431{
    margin:0 8rem 0 8rem;
    flex:1 1 auto;
    /* background-color: #ff56d5; */
    display: flex;
    flex-flow:row nowrap;
    align-items: flex-end;
}
#div4 #div43 #div431 p{
    font-size: 12px;
}
#div4 #div44{
    position:absolute;
    top:7rem;
    height:5rem;
    width:100%;
    display: flex;
    flex-flow:row nowrap;
    align-items: stretch;
}
#div4 #div44 form{
    flex:1 1 auto;
}
#div4 #div44 #div441{
    border-top:1px dotted #aaaaaa;
    border-bottom:1px dotted #aaaaaa;
    margin:0 8rem 0 8rem;
    height:5rem;
    /* background-color: blueviolet; */
    flex:1 1 auto;
    display: flex;
    flex-flow:row nowrap;
    align-items: stretch;
    background-color: #eeeeee;
}
#div4 #div44 #div441 #div4411,
#div4 #div44 #div441 #div4412,
#div4 #div44 #div441 #div4413,
#div4 #div44 #div441 #div4414,
#div4 #div44 #div441 #div4415,
#div4 #div44 #div441 #div4416{
    margin:0;
    padding:0 1rem 0 1rem;
    width:3rem;
    flex:1 1 auto;
    display: flex;
    flex-flow:row nowrap;
    /* border:1px solid #000000; */
}
#div4 #div44 #div441 #div4411,
#div4 #div44 #div441 #div4412{
    width:10rem;
}
#div4 #div44 #div441 #div4411 img{
    margin-top:0.5rem;
    height:4rem;
    width:4rem;
}
#div4 #div44 #div441 #div4411 p{
    margin:0.5rem 0 0 0.5rem;
    font-size: 12px;
}
#div4 #div44 #div441 #div4412{
    display:flex;
    flex-flow:column nowrap;
    align-items: stretch;
}
#div4 #div44 #div441 #div4412 p{
    margin:0.5rem 0 0 0rem;
    font-size: 12px;
}
#div4 #div44 #div441 #div4413 p{
    margin:0.5rem 0 0 1.5rem;
    font-size: 12px;
}
#div4 #div44 #div441 #div4414 p{
    margin:0.5rem 0 0 2.75rem;
    font-size: 12px;
}
#div4 #div44 #div441 #div4415 p{
    margin:0.5rem 0 0 1.75rem;
    font-size: 12px;
}
#div4 #div44 #div441 #div4416 p{
    margin:0.5rem 0 0 1.5rem;
    font-size: 12px;
}
#div4 #div45{
    position:absolute;
    top:14rem;
    height:3rem;
    width:100%;
    display: flex;
    flex-flow:row nowrap;
    align-items: stretch;
    /* background-color: red; */
}
#div4 #div45 #div451{
    margin:0 8rem 0 8rem;
    /* background-color: #56a5ff; */
    flex:1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}
#div4 #div45 #div451 input{
    height:2.5rem;
    width:10rem;
    border:none;
    background-color: #D42727;
    color:#ffffff;
    font-weight: 600;
    font-family: '黑体';
    font-size: 1.25rem;
}